html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}body.noscroll{
	overflow:hidden;
}.box_shadow{
	display:none;
}.box_shadow.active{
	display:block;
}.popup.is_open{
	display:block;
}hr{
	margin-top:0;
	margin-bottom:0;
	border-top:1px solid rgba(0,0,0,.3);
}
ol, ul {
	list-style: none;
}
b{
	font-weight:bold;
}
h2{
	font-weight:500;
}blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body{
	font-size:10px;
	margin:0 auto;
}body{
	font-family:'Roboto', sans-serif;
	color:#000000;
	min-width:32rem;
	max-width:192rem;
	line-height:1;
}a{
	color:#000000;
	text-decoration:underline;
}a:hover{
	color:#000000;
	text-decoration:none;
}

h2{
	font-size:2.8em;
	line-height:3.3rem;
}

.container{
	padding-left:1.5rem;
	padding-right:1.5rem;
}.row{
	margin-left:-1.5rem;
	margin-right:-1.5rem;
}.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	padding-left:1.5rem;
	padding-right:1.5rem;
}.custom_output{
	margin-left:-1rem;
	margin-right:-1rem;
}.custom_output > div{
	padding-left:1rem;
	padding-right:1rem;
}

@media (min-width: 0px){
	header{
		padding-top:1.1rem;
		margin-bottom:1.5rem;
	}header .top{
		margin:0 -.9rem 0 -.9rem;
		display:none;
		height:5rem;
	}header .top .lt{
		float:left;
	}header .top .rt{
		float:right;
	}header .top a{
		margin:0 .9rem;
		font-size:1.6em;
		color:#7D7D7D;
		text-decoration:none;
		border-bottom:1px solid rgba(0,0,0,.2);
	}header .top a.auth{
		border-bottom:1px dashed rgba(0,0,0,.2);
	}header .top:after{
		content:" ";
		display:block;
		clear:both;
	}header .data{
		float:left;
	}header .data2{
		width:65.4%;
		padding-left:3.8rem;
		float:right;
		display:none;
	}header .search{
		margin-bottom:1.9rem;
	}header .search input{
		height:3.8rem;
		border:1px solid #C4C4C4;
		font-size:1.6em;
		width:100%;
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
		padding-left:16.1rem;
		padding-right:5.1rem;
		outline:none;
	}header .search input::-webkit-input-placeholder {color:#C4C4C4;}/* webkit */
	header .search input::-moz-placeholder          {color:#C4C4C4;}/* Firefox 19+ */
	header .search input:-moz-placeholder           {color:#C4C4C4;}/* Firefox 18- */
	header .search input:-ms-input-placeholder      {color:#C4C4C4;}/* IE */
	header .search .btn_search{
		background:#FF6600;
		color:#fff;
		border:none;
		outline:none;
		width:14.2rem;
		height:3.8rem;
		line-height:3.8rem;
		position:absolute;
		left:0;
		top:0;
		bottom:0;
		font-size:1.6em;
		padding-left:4.7rem;
		-moz-border-top-left-radius:.5rem; /* Firefox */
		-webkit-border-top-left-radius:.5rem; /* Safari, Chrome */
		-khtml-border-top-left-radius:.5rem; /* KHTML */
		border-top-left-radius:.5rem; /* CSS3 */	
		-moz-border-bottom-left-radius:.5rem; /* Firefox */
		-webkit-border-bottom-left-radius:.5rem; /* Safari, Chrome */
		-khtml-border-bottom-left-radius:.5rem; /* KHTML */
		border-bottom-left-radius:.5rem; /* CSS3 */
		cursor:pointer;
	}header .search .btn_search:after{
		content:" ";
		background:url(../img/gamburger_view2.svg) no-repeat;
		width:2rem;
		height:1.1rem;
		position:absolute;
		top:1.4rem;
		left:1.8rem;
	}header .menu{
		display:none;
	}header .menu ul{
		margin:0 -1.77rem;
	}header .menu li{
		float:left;
		margin:0 1.77rem;
	}header .search .field{
		position:relative;
	}.search .state{
		background-image:url(../img/search.svg);
		background-repeat:no-repeat;
		background-color:initial;
		width:1.9rem;
		height:1.9rem;
		position:absolute;
		top:0;
		right:1.5rem;
		bottom:0;
		margin:auto;
		border:none;
		outline:none;
		cursor:pointer;
	}.search .not_empty .state{
		background-image:url(../img/clear.svg);
	}.search .not_empty input{
		color:#FF6600;
	}header .menu{
		float:left;
	}header .menu li a{
		font-size:1.6em;
		color:#000;
		text-decoration:none;
		border-bottom:1px solid rgba(0,0,0,.3);
	}header .menu li a:hover{
		color:#747474;
	}header .wrap_button{
		float:right;
		margin-top:.6rem;
	}header .logo{
		font-size:2.85em;
		line-height:3.3rem;
		font-weight:600;
		margin-bottom:.5rem;
	}header .slogan{
		font-size:1.1em;
		line-height:1.3rem;
		font-weight:300;
		margin-bottom:1rem;
	}header .disc{
		color:#7D7D7D;
		font-size:1.1em;
		line-height:1.3rem;
		font-weight:300;
		text-align:right;
		position:relative;
		overflow:hidden;
	}header .disc:before{
		content:" ";
		display:inline-block;
		vertical-align:middle;
		width:100%;
		height:1px;
		background-color:rgba(0,0,0,.21);
		position:relative;
		margin-left:-100%;
		left:-.7rem;
		top:0;
	}header .logo span{
		color:#FF6600;
	}header .gamburger{
		background:url(../img/gamburger.svg) no-repeat;
		width:3rem;
		height:1.7rem;
		background-size:contain;
		border:none;
		outline:none;
		cursor:pointer;
	}header:after{
		content:" ";
		display:block;
		clear:both;
	}.breadcrumbs_chain{
		display:none;
	}.head_section hr{
		margin:1rem 0;
	}.top_banner{
		margin-bottom:3.6rem;
	}.top_banner .banner{
		height:14rem;
		background:#F5F5F5;
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
		box-shadow:0px 2px 7px rgba(0, 0, 0, 0.25);
	}.b_competition.right{
		margin-top:6.1rem;
		width:18rem;
		z-index:1;
	}.b_competition{
		margin-bottom:1.5rem;
	}.b_competition.right{
		display:none;
	}.b_competition .head_section .all{
		margin-top:1rem;
	}.b_competition .head_section .all:hover{
		margin-bottom:1px;
	}.b_competition .competition_list .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.b_competition .wrap_competition{
		padding-left:1rem;
		padding-right:1rem;
		display:none;
	}.b_competition .wrap_competition:nth-child(1){
		display:block;
	}.b_competition .competition{
		margin-bottom:1rem;
	}.b_competition .pict{
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
		box-shadow:0px 2px 7px rgba(0, 0, 0, 0.25);
		overflow:hidden;
		position:relative;
		height:35.8rem;
	}.b_competition .pict img{
		display:block;
		margin:auto;
		position:absolute;
		left:-50%;
		right:-50%;
		margin:auto;
	}.b_competition .pict .dark{
		background:rgba(0,0,0,.85);
		position:absolute;
		right:0;
		bottom:0;
		left:0;
		color:#fff;
		padding:1.385rem 2.66rem;
		min-height:50%;
	}.b_competition .pict .title a{
		font-size:1.8em;
		line-height:2.1rem;
		margin-bottom:1.637rem;
	}.b_competition .pict .title a{
		color:#fff;
		text-decoration:none;
	}.b_competition .pict .disc{
		font-size:1.2em;
		font-weight:300;
	}.b_competition .body_section .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.b_competition .competition_list{
		margin-top:1.5rem;
	}.b_competition .list_banner .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.b_competition .wrap_banner{
		padding-left:1rem;
		padding-right:1rem;
	}.b_competition .banner{
		height:18.9rem;
		background:#F5F5F5;
		box-shadow:0px 2px 7px rgba(0, 0, 0, 0.25);
	}.b_competition a{
		color:#7D7D7D;
		text-decoration:none;
		font-size:1.4em;
		position:relative;
		display:inline-block;
		width:auto;
		height:100%;
	}.b_competition.right a{
		display:block;
	}.b_competition .btn_like{
		position:absolute;
		bottom:2rem;
		display:none;
	}.b_competition .btn_like .dislike:before{
		content:" ";
		background:url(../img/like.svg) no-repeat;
		background-size:contain;
		width:2rem;
		height:2rem;
		display:inline-block;
		vertical-align:middle;
	}.b_competition .btn_like .like:before{
		content:" ";
		background:url(../img/like.svg) no-repeat;
		background-size:contain;
		width:2rem;
		height:2rem;
		display:inline-block;
		vertical-align:middle;
		transform:scale(1, -1);
	}.b_competition .btn_like a{
		margin-right:2rem;
	}.b_competition .btn_like a span{
		margin-left:1rem;
	}.b_publication .pict img{
		width:100%;
		display:block;
	}.b_publication .publication_list{
		margin-top:2rem;
	}.b_publication .publication{
		margin-bottom:2rem;
	}.publication_alone{
		display:none;
	}.b_publication .head_section h2{
		display:inline-block;
	}.b_publication .head_section .all{
		float:right;
		margin-top:1.5rem;
	}.b_publication.detail_page .head_section .all{
		float:none;
	}.b_publication .wrap_publication{
		display:none;
	}.b_publication .wrap_publication:nth-child(-n+4){
		display:block;
	}.b_publication .publication .title{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
		margin-top:.5rem;
		margin-bottom:1rem;
	}.b_publication .publication.empty{
		background:#F5F5F5;
		box-shadow:0px 2px 7px rgba(0, 0, 0, 0.25);
		height:32.6rem;
		-moz-border-radius:.7rem; /* Firefox */
		-webkit-border-radius:.7rem; /* Safari, Chrome */
		-khtml-border-radius:.7rem; /* KHTML */
		border-radius:.7rem; /* CSS3 */
	}.b_publication .publication .title a{
		text-decoration:none;
	}.b_publication .publication .title a:hover{
		color:#FF6600;
	}.b_publication .publication .data{
		color:#7D7D7D;
		font-size:1.4em;
		margin-bottom:1.5rem;
	}.b_publication .publication .data .section{
		color:#7D7D7D;
		border-bottom:1px solid rgba(0,0,0,.2);
		margin-left:7.1rem;
		text-decoration:none;
	}.b_publication .publication .data .section:hover{
		border-bottom:none;
		margin-bottom:1px;
	}.b_publication .publication .disc{
		font-weight:300;
		font-size:1.4em;
		line-height:1.6rem;
	}.b_news .head_section h2{
		display:inline-block;
	}.b_news .head_section .all{
		float:right;
		margin-top:1.5rem;
	}.b_news .news_list{
		margin:1rem 0 0 0;
	}.b_news .news{
		margin:0 0 2rem 0;
	}.b_news .wrap_news{
		display:none;
	}.b_news .wrap_news:nth-child(-n+3){
		display:block;
	}.b_news .news .title{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
		margin-bottom:1rem;
	}.b_news .news .title:hover{
		color:#FF6600;
	}.b_news .news .title a{
		text-decoration:none;
	}.b_news .news .title a:hover{
		color:#FF6600;
	}.b_news .news .date{
		color:#7D7D7D;
		font-size:1.4em;
		line-height:1.6rem;
	}.b_news_xl{
		display:none;
	}.b_journal{
		margin-bottom:3.8rem;
	}.b_journal p{
		font-size:1.2em;
		line-height:1.4rem;
		font-weight:500;
		margin-bottom:.5rem;
	}.b_journal .journal.empty{
		background:#E8E8E8;
		box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
		min-height:30.9rem;
		-moz-border-radius:.7rem; /* Firefox */
		-webkit-border-radius:.7rem; /* Safari, Chrome */
		-khtml-border-radius:.7rem; /* KHTML */
		border-radius:.7rem; /* CSS3 */
	}.b_journal .journal{
		overflow:hidden;
		margin-bottom:1.5rem;
	}.b_journal .pict img{
		width:100%;
		display:block;
	}.b_publication{
		margin-bottom:1rem;
	}.b_publication h4{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
		margin-bottom:.5rem;
	}.b_publication .tags{
		margin-top:1.5rem;
	}.b_db .db{
		padding:2.8rem 2.2rem;
		box-shadow:0px 1px 6px rgba(0, 0, 0, 0.15);
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
		min-height:17rem;
		margin-bottom:1.5rem;
		cursor:pointer;
		border:1px solid #fff;
	}.b_db .head_section h2{
		margin-bottom:1rem;
	}.b_db .db:not(.adver):hover{
		border:1px solid #FF6600;
	}.b_db .db:hover .data .title{
		color:#FF6600;
	}.b_db .db.empty{
		background:#F5F5F5;
		box-shadow:0px 2px 7px rgba(0, 0, 0, 0.25);
	}.b_db .db .pict{
		float:left;
		margin-right:1rem;
		width:4.5rem;
	}.b_db .db .pict img{
		display:block;
		margin:0 auto;
		width:100%;
	}.b_db .db .title{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
		margin-top:.5rem;
		margin-bottom:.3rem;
	}.b_db .db .disc{
		color:#4F4F4F;
		font-size:1.4em;
		line-height:1.6rem;
		font-weight:300;
		margin-left:5.5rem;
	}.head_section .all{
		color:#FF6600;
		font-size:1.4em;
		line-height:1.6rem;
		text-decoration:none;
		border-bottom:1px solid rgba(255,102,0,1);
		display:inline-block;
	}.head_section .all:hover{
		text-decoration:none;
		border-bottom:none;
	}.boards{
		margin-bottom:1rem;
	}.boards .head_section hr{
		margin:1rem 0;
	}.boards .head_section .all{
		margin-top:.2rem;
	}.boards .head_section .all:hover{
		margin-bottom:1px;
	}.tags a{
		border:1px solid #FF6600;
		color:#FF6600;
		font-size:1.4em;
		line-height:1.6rem;
		padding:.9rem 2.2rem;
		display:inline-block;
		margin-bottom:1rem;
		margin-right:.8rem;
		text-decoration:none;
	}.tags a.active, .tags a:hover{
		background:#FF6600;
		color:#fff;
	}.boards .board{
		margin-bottom:1rem;
		box-shadow:0px 2px 7px rgba(0, 0, 0, 0.25);
	}.boards .board img{
		position:absolute;
		left:-50%;
		right:-50%;
		margin:auto;
		min-height:29rem;
		width:100%;
		height:100%;
	}.boards .board .pict{
		position:relative;
		overflow:hidden;
		min-height:29rem;
	}.boards .board .pict .dark{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:linear-gradient(360deg, rgba(0, 0, 0, .8) 1.84%, rgba(0, 0, 0, 0) 69.12%);
	}.boards .board .pict a{
		font-size:1.8em;
		line-height:2.1rem;
		color:#fff;
		font-weight:500;
		position:absolute;
		bottom:1.5rem;
		left:1.5rem;
		right:1.5rem;
		text-decoration:none;
	}.companies .head_section{
		margin-bottom:2rem;
	}.companies .head_section .all{
		float:right;
		margin-top:1.5rem;
	}.companies .head_section h2{
		display:inline-block;
	}.companies .list_companies .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.companies .wrap_company{
		padding-left:1rem;
		padding-right:1rem;
	}.companies .company{
		margin-bottom:2rem;
	}.companies .company .title{
		color:#000;
		font-size:1.8em;
		line-height:2.1rem;
		margin-bottom:.5rem;
		font-weight:500;
	}.companies .company .title a{
		text-decoration:none;
	}.companies .company .title a:hover{
		color:#FF6600;
	}.companies .company .city{
		color:#FF6600;
		font-size:1.4em;
		line-height:1.6rem;
		text-decoration:none;
	}.companies .company .disc{
		margin-top:.5rem;
		font-size:1.4em;
		line-height:1.6rem;
		font-weight:300;
	}.b_video{
		background:rgba(255,238,222,.3);
		padding:2rem 0;
	}.b_video .head_section hr{
		background:#000000;
		height:1px;
		opacity:.3;
		margin:1rem 0;
	}.b_video .head_section h2{
		display:inline-block;
	}.b_video .head_section .all{
		float:right;
		display:inline-block;
		margin-top:1.5rem;
	}.b_video .wrap_video{
		display:none;
	}.b_video .wrap_video:nth-child(-n+3){
		display:block;
	}.b_video .video{
		margin-bottom:2rem;
	}.b_video .video .pict{
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
		overflow:hidden;
		margin-bottom:2rem;
		box-shadow:0px 2px 5px rgba(0, 0, 0, 0.25);
	}.b_video .video .pict img{
		width:100%;
		display:block;
	}.b_video .video .section a{
		font-size:1.4em;
		color:#828282;
		text-decoration:none;
		border-bottom:1px solid rgba(0,0,0,.2);
		margin-bottom:.5rem;
		display:inline-block;
		font-weight:300;
	}.b_video .video .section a:hover{
		border-bottom:none;
		margin-bottom:.6rem;
	}.b_video .video .title{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
	}.b_video .video .title a{
		text-decoration:none;
	}.b_video .video .title a:hover{
		color:#FF6600;
	}.forum_adver .head_section .all {
		margin-top:1rem;
		display:inline-block;
	}.forum_adver .head_section .all:hover{
		margin-bottom:1px;
	}.forum_adver .head_section .switch{
		margin-top:2rem;
	}.forum_adver .head_section .switch .select{
		float:left;
		vertical-align:middle;
		width:33.3333%;
	}.forum_adver .head_section .checkbox{
		text-align:center;
	}.forum_adver .head_section .switch fieldset legend{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
	}.forum_adver .head_section hr{
		margin:1rem 0;
	}.forum_adver .theme{
		margin:1rem 0;
	}.forum_adver .theme .title{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
		margin-bottom:.6rem;
	}.forum_adver .theme .title a{
		text-decoration:none;
	}.forum_adver .theme .title a:hover{
		color:#FF6600;
	}.forum_adver .theme .author{
		color:#FF6600;
		font-size:1.4em;
		line-height:1.6rem;
		text-decoration:none;
		display:inline-block;
		font-weight:300;
	}.b_ha_ha .head_section hr{
		margin:1rem 0;
	}.b_ha_ha .ha_ha{
		margin-bottom:2rem;
	}.b_ha_ha .ha_ha .pict{
		margin-bottom:1rem;
		overflow: hidden;
		position:relative;
	}.b_ha_ha .ha_ha .pict img{
		width:100%;
	}.b_ha_ha .ha_ha .title{
		font-size:2em;
		line-height:2.3rem;
		font-weight:500;
		margin-bottom:1rem;
	}.b_ha_ha .ha_ha .title a{
		text-decoration:none;
	}.b_ha_ha .ha_ha .title a:hover{
		color:#FF6600;
	}.b_ha_ha .ha_ha .author{
		color:#FF6600;
		font-size:1.4em;
		line-height:1.6rem;
		display:inline-block;
		font-weight:300;
		text-decoration:none;
	}.calendar_events .head_section{
		margin-bottom:2.2rem;
	}.calendar_events .head_section .all{
		margin-top:1rem;
		display:inline-block;
	}.calendar_events .head_section .all:hover{
		margin-bottom:1px;
	}.calendar_events .wrap_event{
		display:none;
	}.calendar_events .wrap_event:nth-child(-n+3){
		display:block;
	}.calendar_events .event{
		margin:2rem 0;
	}.calendar_events .event .date{
		color:#7D7D7D;
		font-size:1.4em;
		margin-bottom:.843rem;
		font-weight:300;
	}.calendar_events .title{
		font-size:1.8em;
		line-height:2.1rem;
		margin-bottom:.843rem;
	}.calendar_events .title a{
		text-decoration:none;
	}.calendar_events .title a:hover{
		color:#FF6600;
	}.calendar_events .disc{
		font-size:1.4em;
		line-height:1.6rem;
		font-weight:300;
	}footer{
		background:#FFFAF5;
		padding-top:3rem;
	}footer .bottom_menu{
		font-size:1.4em;
		margin-bottom:2rem;
	}footer .bottom_menu li{
		margin-bottom:.9rem;
	}footer .bottom_menu a{
		line-height:1.6rem;
		text-decoration:none;
		font-weight:300;
	}footer .bottom_menu a{
		border-bottom:1px solid rgba(0,0,0,.3);
	}footer .bottom_menu a:hover{
		border-bottom:none;
	}footer .soc_serv{
		margin-bottom:2rem;
	}footer .about{
		font-size:1.4em;
		line-height:1.6rem;
		margin-bottom:2rem;
		font-weight:300;
	}footer .bottom p{
		font-size:1.4em;
		margin-bottom:2rem;
	}.soc_serv .soc_list{
		margin-right:2.7rem;
	}.soc_serv a{
		display:inline-block;
		width:3rem;
		height:3rem;
		margin-top:1.1rem;
		margin-right:1rem;
	}.soc_serv .txt_t{
		display:block;
		font-size:1.4em;
		font-weight:500;
	}.soc_serv .fb{
		background:url(../img/icon_fb.svg) no-repeat;
	}.soc_serv .tw{
		background:url(../img/icon_tw.svg) no-repeat;
	}.soc_serv .vk{
		background:url(../img/icon_vk.svg) no-repeat;
	}.soc_serv .g_plus{
		background:url(../img/icon_g_plus.svg) no-repeat;
	}.soc_serv .in{
		background:url(../img/icon_in.svg) no-repeat;
	}.soc_serv .insta{
		background:url(../img/icon_insta.svg) no-repeat;
	}.soc_serv .fb:hover{
		background:url(../img/icon_fb_view2.svg) no-repeat;
	}.soc_serv .tw:hover{
		background:url(../img/icon_tw_view2.svg) no-repeat;
	}.soc_serv .vk:hover{
		background:url(../img/icon_vk_view2.svg) no-repeat;
	}.soc_serv .g_plus:hover{
		background:url(../img/icon_g_plus_view2.svg) no-repeat;
	}.soc_serv .in:hover{
		background:url(../img/icon_in_view2.svg) no-repeat;
	}.soc_serv .insta:hover{
		background:url(../img/icon_insta_view2.svg) no-repeat;
	}footer .bottom{
		font-weight:300;
	}footer .bottom a{
		text-decoration:none;
		border-bottom:1px solid rgba(0,0,0,.3);
	}footer .bottom .developer a{
		border-bottom:1px solid #000;
	}footer .bottom a:hover{
		text-decoration:none;
		border-bottom:none;
	}
	
	.switch .ui-button{
		background:none;
		border:1px solid #FF6600;
		width:4.1rem;
		height:2.2rem;
		position:relative;
		-moz-border-radius:3rem; /* Firefox */
		-webkit-border-radius:3rem; /* Safari, Chrome */
		-khtml-border-radius:3rem; /* KHTML */
		border-radius:3rem; /* CSS3 */
	}.switch .ui-button .ui-icon{
		background:#FF6600;
		-moz-border-radius:50%; /* Firefox */
		-webkit-border-radius:50%; /* Safari, Chrome */
		-khtml-border-radius:50%; /* KHTML */
		border-radius:50%; /* CSS3 */
		box-shadow:0px 1px 4px rgba(0, 0, 0, 0.25);
		position:absolute;
		top:0;
		left:2px;
		bottom:0;
		margin:auto;
		width:1.8rem;
		height:1.8rem;
		-webkit-transition:all 0.2s ease-out;
		-moz-transition:all 0.2s ease-out;
		-o-transition:all 0.2s ease-out;
		transition:all 0.2s ease-out;
	}.switch .ui-button.ui-checkboxradio-checked .ui-icon{
		left:1.9rem;
	}.switch .ui-button:active, .switch .ui-button.ui-state-active:hover{
		background:none;
		border:1px solid #FF6600;
		color:#BDBDBD;
	}.switch .ui-button:hover{
		color:#BDBDBD;
	}.switch .ui-button.ui-visual-focus{
		box-shadow:none;
	}.switch label{
		color:#BDBDBD;
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
	}.switch .active legend{
		color:#000;
	}.switch .disabled legend{
		color:#BDBDBD;
	}.switch .ui-button.ui-state-active:hover{
		color:#BDBDBD;
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
	}.switch label .label{
		position:absolute;
		left:7.1rem;
		text-align:left;
		top:0;
		font-weight:500;
	}.popup{
		z-index:10;
		position:fixed;
		top:0;
		left:-9999px;
		right:0;
		width:100%;
		background:#fff;
		-webkit-transition:all .2s ease-out;
		-moz-transition:all .2s ease-out;
		-o-transition:all .2s ease-out;
		transition:all .2s ease-out;
	}.popup .body{
		padding-bottom:2.6rem;
	}.popup.is_open{
		left:0;
	}.popup .head{
		padding:2rem 1.5rem 1.5rem 1.5rem;
		position:relative;
		border-bottom:1px solid #000;
		min-height:7.6rem;
	}#modal_window .head{
		border-bottom:none;
	}#modal_window .body{
		font-size:1.4em;
	}.popup .body{
		overflow:auto;
	}.popup .popupHd{
		font-size:2.8em;
		line-height:3.3rem;
		font-weight:500;
		text-align:center;
	}.popup .close{
		background:url(../img/close.svg) no-repeat;
		width:3rem;
		height:3rem;
		opacity:1;
		position: absolute;
		right:1.5rem;
		top:0;
		bottom:0;
		margin:auto;
	}.popup.main_menu .auth{
		background:#000;
		padding:1.6rem 1.5rem 2rem 1.5rem;
	}.popup.main_menu .auth a{
		color:#fff;
		border-bottom:1px dashed rgba(255,255,255,.3);
		text-decoration:none;
		font-size:1.6em;
		font-weight:300;
	}.popup.main_menu .auth a:hover{
		border-bottom:none;
	}.popup.main_menu .auth .enter{
		float:right;
		margin-right:4.5rem;
	}.popup.main_menu .search input{
		height:5rem;
		font-size:1.6em;
		width:100%;
		padding:0 1.4rem;
		outline:none;
		border:none;
		border-bottom:1px solid rgba(0, 0, 0, 0.3);
		padding-right:5rem;
		font-weight:300;
	}.popup.main_menu .search .field{
		position:relative;
	}.popup.main_menu .search .state{
		background:url(../img/search.svg) no-repeat;
		width:1.9rem;
		height:1.9rem;
		position:absolute;
		top:0;
		right:1.5rem;
		bottom:0;
		margin:auto;
	}.popup.main_menu .search .not_empty .state{
		    background-image: url(../img/clear.svg);
	}.popup.main_menu .search input::-webkit-input-placeholder {color:#C4C4C4;}/* webkit */
	.popup.main_menu .search input::-moz-placeholder          {color:#C4C4C4;}/* Firefox 19+ */
	.popup.main_menu .search input:-moz-placeholder           {color:#C4C4C4;}/* Firefox 18- */
	.popup.main_menu .search input:-ms-input-placeholder      {color:#C4C4C4;}/* IE */
	.popup.main_menu .menu{
		padding:0 1.5rem 0 1.5rem;
		margin-bottom:-1px;
	}.popup.main_menu .menu li{
		border-bottom:1px solid #C4C4C4;
		padding:1rem 0;
	}.popup.main_menu .menu.view2{
		padding:0 1.5rem 0 1.5rem;
		background:#C4C4C4;
	}.popup.main_menu .menu.view2 li{
		border-bottom:1px solid rgba(255, 255, 255, 0.3);
	}.popup.main_menu .menu a{
		font-size:1.6em;
		text-decoration:none;
	}.popup.main_menu .menu a:hover{
		color:#747474;
	}.popup.main_menu .menu.view2 li a{
		color:#fff;
		font-weight:300;
	}.popup .listTitle{
		padding-left:1.5rem;
		padding-right:1.5rem;
	}.popup .listTitle:after{
		content:" ";
		display:block;
		clear:both;
	}.popup .listHd{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
		margin-bottom:2rem;
		float:left;
	}.popup .listPoints{
		font-size:2.4em;
		line-height:1.6rem;
		font-weight:300;
		color:#FF6600;
		display:none;
	}.popup .listPoints li{
		list-style-type:circle;
		margin-left:4rem;
	}.popup .listPoints li:not(:last-child){
		margin-bottom:1rem;
	}.popup .listPoints li a{
		color:#000000;
		font-size:1.4rem;
		text-decoration:none;
	}.popup .listPoints li a:hover{
		font-weight:500;
	}.popup .cover{
		float:right;
		position:relative;
		cursor:pointer;
		padding-right:4.5rem;
		font-size:1.4em;
		line-height:1.6rem;
		color:#FF6600;
		text-decoration:underline;
		margin-top:1rem;
	}.popup .cover:hover{
		text-decoration:none;
	}.popup .cover span{
		display:none;
	}.popup .cover:before{
		content:" ";
		position:absolute;
		right:0;
		top:0;
		bottom:0;
		margin:auto;
		border:1px solid #FF6600;
		width:3rem;
		height:3rem;
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
	}.popup .cover:after{
		content:" ";
		background:url(../img/arrow_view4.svg) no-repeat 50%;
		background-size:1rem;
		position:absolute;
		right:-1px;
		top:0;
		bottom:0;
		margin:auto;
		-moz-transform:rotate(180deg); /* Для Firefox */
		-ms-transform:rotate(180deg); /* Для IE */
		-webkit-transform:rotate(180deg); /* Для Safari, Chrome, iOS */
		-o-transform:rotate(180deg); /* Для Opera */
		transform:rotate(180deg);
		width:3rem;
		height:3rem;
		/* Firefox */
		-moz-transition: all .2s ease;
		/* WebKit */
		-webkit-transition: all .2s ease;
		/* Opera */
		-o-transition: all .2s ease;
		/* Standard */
		transition: all .2s ease;
	}.popup .uncover.cover:after{
		right:0;
		-moz-transform:rotate(0); /* Для Firefox */
		-ms-transform:rotate(0); /* Для IE */
		-webkit-transform:rotate(0); /* Для Safari, Chrome, iOS */
		-o-transform:rotate(0); /* Для Opera */
		transform:rotate(0);
	}.popup .wrap_list_points{
		margin:3rem 0;
	}.box_shadow{
		background:rgba(0,0,0,.8);
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:9;
	}#register_on_site .head .select, #enter_on_site .select{
		display:none;
	}#register_on_site .regulations, #enter_on_site .regulations{
		text-align:center;
		color:#828282;
		font-size:1.4em;
		line-height:1.6rem;
		padding:0 1.5rem;
		font-weight:300;
	}#register_on_site .regulations a, #enter_on_site .regulations a{
		text-decoration:none;
		color:#828282;
		border-bottom:1px solid rgba(0,0,0,.3);
	}#register_on_site .regulations a:hover, #enter_on_site .regulations a:hover{
		border-bottom:none;
	}#register_on_site .head, #enter_on_site .head{
		border-bottom:1px solid rgba(0,0,0,.3);
	}#register_on_site form, #enter_on_site form{
		padding:0 4rem;
		font-size:1.6em;
		color:#4F4F4F;
		text-align:center;
		margin-bottom:3rem;
	}#modal_window .body{
		padding:0 4rem;
	}#register_on_site form p, #enter_on_site form p{
		margin:1.5rem 0;
		line-height:1.9rem;
		font-weight:300;
	}#register_on_site form .field, #enter_on_site form .field{
		text-align:center;
		margin-bottom:3rem;
	}#register_on_site form a, #enter_on_site form a{
		color:#333333;
		text-decoration:none;
		border-bottom:1px solid rgba(0,0,0,.3);
	}#register_on_site form a:hover, #enter_on_site form a:hover{
		border-bottom:none;
	}#register_on_site form input, #enter_on_site form input{
		border:none;
		border-bottom:1px solid rgba(0,0,0,.3);
		text-align:center;
		width:18.7rem;
		outline:none;
	}.popup form input.error{
		color:#E04006 !important;
		border-bottom:1px solid rgba(224,64,6,.3) !important;
	}.popup form input:hover{
		border-bottom:1px solid rgba(0,0,0,.3) !important;
	}
	.popup form input::-webkit-input-placeholder {color:#828282 !important;font-weight:300;}/* webkit */
	.popup form input::-moz-placeholder          {color:#828282 !important;font-weight:300;}/* Firefox 19+ */
	.popup form input:-moz-placeholder           {color:#828282 !important;font-weight:300;}/* Firefox 18- */
	.popup form input:-ms-input-placeholder      {color:#828282 !important;font-weight:300;}/* IE */	
	
	.popup form input.error::-webkit-input-placeholder {color:#E04006 !important;font-weight:300;}/* webkit */
	.popup form input.error::-moz-placeholder          {color:#E04006 !important;font-weight:300;}/* Firefox 19+ */
	.popup form input.error:-moz-placeholder           {color:#E04006 !important;font-weight:300;}/* Firefox 18- */
	.popup form input.error:-ms-input-placeholder      {color:#E04006 !important;font-weight:300;}/* IE */	
	
	.popup form input:hover::-webkit-input-placeholder {color:#000000 !important;font-weight:300;}/* webkit */
	.popup form input:hover::-moz-placeholder          {color:#000000 !important;font-weight:300;}/* Firefox 19+ */
	.popup form input:hover:-moz-placeholder           {color:#000000 !important;font-weight:300;}/* Firefox 18- */
	.popup form input:hover:-ms-input-placeholder      {color:#000000 !important;font-weight:300;}/* IE */	
	
	#register_on_site [type="submit"], #enter_on_site [type="submit"]{
		border:none;
		outline:none;
		font-size:1.6rem;
		background:#FF6600;
		border:1px solid #FF6600;
		color:#fff;
		margin:0 auto 1.5rem auto;
		display:block;
		width:20rem;
		height:3.3rem;
		cursor:pointer;
		-moz-border-radius:.3rem; /* Firefox */
		-webkit-border-radius:.3rem; /* Safari, Chrome */
		-khtml-border-radius:.3rem; /* KHTML */
		border-radius:.3rem; /* CSS3 */
	}#register_on_site [type="submit"]:hover, #enter_on_site [type="submit"]:hover{
		background:none;
		border:1px solid #FF6600;
		color:#FF6600;
	}.popup .socservs{
		padding:0 3.5rem;
		margin-top:2.25rem;
		margin-bottom:2.25rem;
	}.popup .socservs li{
		display:inline-block;
		margin:.75rem 1rem;
	}.popup .socservs li > a span{
		height:2.3rem;
	}.popup .socservs a{
		height:2.3rem;
		display:block;
		text-decoration:none;
		line-height:2.3rem;
		position:relative;
		-moz-border-radius:.3rem; /* Firefox */
		-webkit-border-radius:.3rem; /* Safari, Chrome */
		-khtml-border-radius:.3rem; /* KHTML */
		border-radius:.3rem; /* CSS3 */
		padding-left:3rem;
		font-size:1.4rem;
	}.popup .socservs a > span{
		display:none;
	}.popup .socservs .fb > span{
		color:#3C5A9B !important;
		border:1px solid rgba(61,90,155,.5);
	}.popup .socservs .fb:hover span{
		color:#fff !important;
		background:#3C5A9B
	}.popup .socservs .tw > span{
		color:#64A8F2 !important;
		border:1px solid rgba(100,168,242,.5);
	}.popup .socservs .tw:hover span{
		color:#fff !important;
		background:#64A8F2;
	}.popup .socservs .vk > span{
		color:#6083AB !important;
		border:1px solid rgba(96,131,171,.5);
	}.popup .socservs .vk:hover span{
		color:#fff !important;
		background:#6083AB;
	}.popup .socservs .g_plus > span{
		color:#E04006 !important;
		border:1px solid rgba(224,64,6,.5);
	}.popup .socservs .g_plus:hover span{
		background:#E04006;
		color:#fff !important;
	}.popup .socservs .ok > span{
		color:#EE7C26 !important;
		border:1px solid rgba(238,124,38,.5);
	}.popup .socservs .ok:hover span{
		color:#fff !important;
		background:#EE7C26;
	}.popup .socservs a:before{
		content:" ";
		width:3.2rem;
		height:2.3rem;
		display:inline-block;
		position:absolute;
		left:0;
		-moz-border-radius:.3rem; /* Firefox */
		-webkit-border-radius:.3rem; /* Safari, Chrome */
		-khtml-border-radius:.3rem; /* KHTML */
		border-radius:.3rem; /* CSS3 */
	}.popup .socservs .fb:before{
		content:" ";
		background:url(../img/fb.png) no-repeat center;
		border-top:1px solid rgba(61,90,155,.5);
		border-right:1px solid rgba(61,90,155,.5);
		border-bottom:1px solid rgba(61,90,155,.5);
		border-left:1px solid rgba(61,90,155,.5);
	}.popup .socservs .tw:before{
		content:" ";
		background:url(../img/tw.png) no-repeat center;
		border-top:1px solid rgba(100,168,242,.5);
		border-right:1px solid rgba(100,168,242,.5);
		border-bottom:1px solid rgba(100,168,242,.5);
		border-left:1px solid rgba(100,168,242,.5);
	}.popup .socservs .vk:before{
		content:" ";
		background:url(../img/vk.png) no-repeat center;
		border-top:1px solid rgba(96,131,171,.5);
		border-right:1px solid rgba(96,131,171,.5);
		border-bottom:1px solid rgba(96,131,171,.5);
		border-left:1px solid rgba(96,131,171,.5);
	}.popup .socservs .g_plus:before{
		content:" ";
		background:url(../img/g_plus.png) no-repeat center;
		border-top:1px solid rgba(224,64,6,.5);
		border-right:1px solid rgba(224,64,6,.5);
		border-bottom:1px solid rgba(224,64,6,.5);
		border-left:1px solid rgba(224,64,6,.5);
	}.popup .socservs .ok:before{
		content:" ";
		background:url(../img/ok.png) no-repeat center;
		border-top:1px solid rgba(238,124,38,.5);
		border-right:1px solid rgba(238,124,38,.5);
		border-bottom:1px solid rgba(238,124,38,.5);
		border-left:1px solid rgba(238,124,38,.5);
	}.detail_material h1{
		font-size:2.8em;
		line-height:3.3rem;
		margin-bottom:2rem;
		font-weight:500;
	}.breadcrumbs{
		margin-bottom:2.2rem;
		padding:1rem 0;
		font-size:1.4em;
		line-height:1.6rem;
		border-top:1px solid rgba(0, 0, 0, 0.3);
		border-bottom:1px solid rgba(0, 0, 0, 0.3);
		font-weight:300;
	}.breadcrumbs a{
		color:#000000;
		text-decoration:underline;
	}.breadcrumbs a:hover{
		text-decoration:none;
	}.group_btn_1{
		margin-bottom:2rem;
	}.group_btn_1:after{
		content:" ";
		display:block;
		clear:both;
	}.group_btn_1:after{
		content:" ";
		display:block;
		clear:both;
	}.share{
		display:inline-block;
		vertical-align:top;
		margin-right:2.6rem;
		float:left;
	}.share li{
		display:inline-block;
		vertical-align:top;
		min-width:3rem;
	}.share a{
		width:auto;
		position:relative;
		height:2.5rem;
		padding:0 .5rem;
		line-height:2.5rem;
		display:inline-block;
		color:#fff;
		font-size:1.2em;
		text-decoration:none;
		-moz-border-radius:.3rem; /* Firefox */
		-webkit-border-radius:.3rem; /* Safari, Chrome */
		-khtml-border-radius:.3rem; /* KHTML */
		border-radius:.3rem; /* CSS3 */
		margin-right:.5rem;
	}.share a:before{
		content:" ";
		width:3rem;
		height:2.5rem;
		background:url(../img/socserv.png) no-repeat;
		background-size:cover;
		display:block;
		position:absolute;
		left:0;
		top:0;
		bottom:0;
		margin:auto;
	}.share a span{
		display:none;
	}.share a > span{
		padding-left:2.5rem;
	}.share a .count{
		color:rgba(255,255,255,.5);
		padding-left:.5rem;
	}.share .vk{
		background:#44658f;
	}.share .vk:before{
		background-position:.3rem 0;
	}.share .fb{
		background:#3a579a;
	}.share .fb:before{
		background-position:-2.8rem 0;
	}.share .tw{
		background:#50abf1;
	}.share .tw:before{
		background-position:-5.9rem 0;
	}.share .g_plus:before{
		background-position:-9rem 0;
	}.share .ok:before{
		background-position:-12rem 0;
	}.share .xz:before{
		background-position:-15rem 0;
	}.share:after{
		content:" ";
		display:block;
		clear:both;
	}.detail_material .favourite{
		color:#FF6600;
		font-size:1.2em;
		line-height:1.4rem;
	}.detail_material .detail_pict{
		margin-bottom:2rem;
	}.detail_material .discription a{
		color:#FF6600;
	}.detail_material .detail_pict img{
		width:100%;
	}.detail_material .foreword{
		font-size:2.8em;
		line-height:3.3rem;
		margin-bottom:2rem;
	}.detail_material .quote{
		margin-bottom:1rem;
	}.detail_material .quote:after{
		content:" ";
		display:block;
		clear:both;
	}.detail_material .quote .mess{
		border:1px solid #7D7D7D;
		margin-top:4rem;
		margin-left:2.5rem;
		margin-bottom:1rem;
		padding:3rem 2rem 2rem 2rem;
		-moz-border-radius:3rem; /* Firefox */
		-webkit-border-radius:3rem; /* Safari, Chrome */
		-khtml-border-radius:3rem; /* KHTML */
		border-radius:3rem; /* CSS3 */
		position:relative;
	}.detail_material .quote .mess:before{
		content:" ";
		position:absolute;
		left:-2.5rem;
		top:-2.1rem;
		width:6.3rem;
		height:5rem;
		background:#fff url(../img/quote.svg) no-repeat;
	}.detail_material .quote .mess:after{
		content:" ";
		position:absolute;
		bottom:-4.85rem;
		left:2.5rem;
		width:5rem;
		height:5rem;
		background:#fff url(../img/triangle.svg) no-repeat;
		background-size:cover;
	}.detail_material .quote .author{
		margin-left:10rem;
		margin-right:2rem;
	}.detail_material .quote .author:after{
		content:" ";
		display:block;
		clear:both;
	}.detail_material .quote .author .photo{
		float:left;
	}.detail_material .quote .author .photo img{
		width:4.4rem;
		height:4.3rem;
	}.detail_material .quote .author .name{
		font-size:1.4em;
		font-weight:500;
		margin-top:.5rem;
		margin-bottom:.5rem;
	}.detail_material .quote .author .position{
		font-size:1.2em;
		line-height:1.4rem;
		font-weight:300;
		font-style:italic;
	}.detail_material .quote .author .wrap_photo{
		padding-right:.5rem;
		max-width:6.2rem;
	}.detail_material .quote .author .wrap_who{
		padding-left:.5rem;
	}.detail_material .discription h3{
		font-size:1.8em;
		line-height:2.1rem;
		margin-bottom:1rem;
		font-weight:500;
	}.detail_material .discription p{
		font-size:1.4em;
		line-height:1.6rem;
		font-weight:300;
		margin-bottom:1rem;
	}.detail_material .discription img{
		width:100%;
	}.detail_material .discription ul{
		margin-left:1.9rem;
		margin-top:1.5rem;
	}.detail_material .discription ul li{
		font-weight:300;
		margin-bottom:1.5rem;
		font-size:1.4em;
	}.detail_material .discription ul.decimal li{
		list-style-type:decimal;
		font-weight:400;
	}.detail_material .discription ul.decimal li span{
		font-weight:300;
	}.detail_material .discription ul.circle li{
		list-style-type:circle;
		color:#FF6600;
		font-size:1.8em;
	}.detail_material .discription ul.circle li span{
		color:#000000;
		font-size:1.4rem;
	}.detail_material .discription ul li .num{
		font-weight:400;
	}.list_banner{
		margin-bottom:2rem;
	}.banner.empty{
		background:#F5F5F5;
		box-shadow:0px 2px 7px rgba(0, 0, 0, 0.25);
		width:100%;
		height:14rem;
		-moz-border-radius:.7rem; /* Firefox */
		-webkit-border-radius:.7rem; /* Safari, Chrome */
		-khtml-border-radius:.7rem; /* KHTML */
		border-radius:.7rem; /* CSS3 */
	}.detail_material .list_banner{
		margin-left:-1rem;
		margin-right:-1rem;
	}.detail_material .list_banner .wrap_banner{
		padding-left:1rem;
		padding-right:1rem;
		margin-bottom:2rem;
	}.detail_material table{
		width:100%;
		border-collapse:collapse;
		margin-bottom:2rem;
	}.detail_material table.col_xs{
		display:table;
	}.detail_material table.col_md{
		display:none;
		text-align:center;
	}.detail_material table.col_md tr th:first-child{
		text-align:left;
		padding-left:3rem;
	}.detail_material table{
		font-size: 1.4em;
		line-height:1.6rem;
		border-collapse: collapse;
	}.detail_material table th{
		border-top:1px solid #C4C4C4;
		border-bottom:1px solid #C4C4C4;
		padding:1rem;
		font-weight:500;
	}.detail_material table.col_xs th{
		background:#F2F2F2;
	}.detail_material table.col_md thead{
		background:#F2F2F2;
		text-align:center;
	}.detail_material table.col_md thead th{
		padding:2.2rem 0;
	}.detail_material table td,.detail_material table th{
		border-bottom:1px solid #C4C4C4;
		border-right:1px solid #C4C4C4;
		padding:1rem;
	}.detail_material table td:last-child {
		border-right:none;
	}.detail_material table th[colspan="2"]:after{
		content:" ";
		width:1rem;
		height:1rem;
		background:url(../img/arrow.svg) no-repeat;
		background-size:cover;
		float:right;
		margin-top:.4rem;
	}.title_comment_field{
		font-size:2.8em;
		line-height:3.3rem;
		font-weight:500;
	}.comment .title_comment_field{
		margin-bottom:2rem;
	}.comment .comment_field{
		border:1px solid rgba(0, 0, 0, 0.3);
		outline:none;
		font-size:1.4em;
		line-height:1.6rem;
		font-weight:300;
		resize:none;
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
		padding:1rem 1.5rem;
		margin-bottom:1rem;
		width:100%;
		height:12.5rem;
	}.comment .add_comment{
		margin-bottom:2rem;
	}.comment .add_comment:after{
		content:" ";
		display:block;
		clear:both;
	}.comment .add_comment [type="submit"]{
		background:#FF6600;
		color:#fff;
		outline:none;
		border:none;
		height:4rem;
		padding:0 6.4rem;
		font-size:1.2em;
		position:relative;
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
		float:right;
		cursor:pointer;
	}.comment .add_comment [type="submit"]:before{
		content:" ";
		background:url(../img/tg.svg) no-repeat;
		position:absolute;
		left:1rem;
		top:0;
		bottom:0;
		margin:auto;
		width:2.573rem;
		height:2.496rem;
	}.comment .add_comment .user{
		float:left;
		margin-top:.5rem;
	}.comment .add_comment .user img{
		width:3.2rem;
		height:3.2rem;
	}.comment .ui-widget.ui-widget-content{
		border:none;
	}.comment .ui-widget-header{
		background:none;
		border:none;
	}.comment .ui-tabs-tab{
		background:none;
		border:none;
	}.comment .ui-state-default a{
		background:none;
		border:1px solid #FF6600;
	}.comment .ui-tabs .ui-tabs-nav li{
		border-bottom-width:1px;
	}.comment .ui-state-default a{
		color:#FF6600;
	}.comment .ui-state-active a{
		background:#FF6600;
		border:1px solid #FF6600;
		padding-bottom:0;
	}.comment .ui-corner-top{
		border-radius:0;
	}.comment .ui-state-active a{
		color:#fff;
	}.comment .ui-tabs{
		padding:0;
	}.comment .ui-tabs .ui-tabs-nav li{
		margin:0;
		width:33.3333%;
		padding:0 1rem;
	}.comment .ui-tabs .ui-tabs-nav li a{
		text-align:center;
	}.comment .ui-tabs .ui-tabs-nav li:last-child a{
		margin-right:0;
	}.comment .ui-tabs .ui-tabs-nav li a{
		width:100%;
		padding:.9rem 0;
		font-size:1.4rem;
	}.comment .ui-tabs .ui-tabs-nav{
		padding:0;
		margin-left:-1rem;
		margin-right:-1rem;
		margin-bottom:2rem;
	}.comment .comment_list .post{
		margin-bottom:2rem;
		border-bottom:1px solid rgba(0, 0, 0, 0.3);
		padding-bottom:2rem;
	}.comment .comment_list .post.response{
		border-bottom:none;
		background:#F2F2F2;
		padding:1.5rem;
		margin-bottom:0;
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
		margin-top:2rem;
	}.comment .comment_list .post.response .control{
		margin-left:9.3rem;
	}.comment .comment_list .post .head{
		margin-bottom:.7rem;
	}.comment .comment_list .post .head .user{
		float:left;
	}.comment .comment_list .post .head:after{
		content:" ";
		display:block;
		clear:both;
	}.comment .comment_list .ui-tabs-panel{
		padding:0;
	}.comment .comment_list .post .message{
		font-size:1.4em;
		line-height:1.6rem;
		margin-bottom:2rem;
	}.comment .comment_list .post .head .user{
		font-size:1.4em;
		line-height:1.6rem;
		font-weight:600;
	}.comment .comment_list .post .avatar{
		vertical-align:middle;
		margin-right:2rem;
		float:left;
	}.comment .comment_list .post .avatar img{
		width:3.2rem;
		height:3.2rem;
	}.comment .comment_list .post .head .name{
		font-weight:600;
		font-size:1.4em;
		float:left;
		margin-top:1rem;
	}.comment .comment_list .post .head .date{
		float:right;
		font-size:1.4em;
		margin-top:1rem;
		color:#7D7D7D;
	}.comment .comment_list .post .control{
		font-size:1.4em;
		color:#7D7D7D;
	}.comment .comment_list .post .control:after{
		content:" ";
		display:block;
		clear:both;
	}.comment .comment_list .post .control a{
		display:inline-block;
		margin-right:3rem;
		vertical-align:middle;
	}.comment .comment_list .post .control .reply{
		margin-right:4.3rem;
		width:6.1rem;
		color:#FF6600;
	}.comment .comment_list .post .control .share_post{
		width:2rem;
		height:2.2rem;
		background:url(../img/share.svg) no-repeat;
	}.comment .comment_list .post .control .like{
		width:2rem;
		height:1.9rem;
		background:url(../img/like.svg) no-repeat;
		transform:scale(1, -1);
	}.comment .comment_list .post .control .dislike{
		width:2rem;
		height:1.9rem;
		background:url(../img/like.svg) no-repeat;	
	}.pagenav{
		margin:4rem 0 2rem 0;
		text-align:center;
	}.pagenav .prev{
		margin-left:0;
		margin-right:2.4rem;
	}.pagenav .prev:before{
		content:" ";
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin:auto;
		background:url(../img/arrow_view3.svg) no-repeat;
		-moz-transform:rotate(180deg); /* Для Firefox */
		-ms-transform:rotate(180deg); /* Для IE */
		-webkit-transform:rotate(180deg); /* Для Safari, Chrome, iOS */
		-o-transform:rotate(180deg); /* Для Opera */
		transform:rotate(180deg);
		width:1rem;
		height:.8rem;
	}.pagenav .prev:hover{
		background:#FF6600
	}.pagenav .next:hover{
		background:#FF6600
	}.pagenav .prev:hover:before{
		background:url(../img/arrow_view2.svg) no-repeat;
		-moz-transform:rotate(0deg); /* Для Firefox */
		-ms-transform:rotate(0deg); /* Для IE */
		-webkit-transform:rotate(0deg); /* Для Safari, Chrome, iOS */
		-o-transform:rotate(0deg); /* Для Opera */
		transform:rotate(0deg);
		width:1.2rem;
		height:.8rem;
	}.pagenav .next:hover:before{
		background:url(../img/arrow_view2.svg) no-repeat;
		-moz-transform:rotate(180deg); /* Для Firefox */
		-ms-transform:rotate(180deg); /* Для IE */
		-webkit-transform:rotate(180deg); /* Для Safari, Chrome, iOS */
		-o-transform:rotate(180deg); /* Для Opera */
		transform:rotate(180deg);
		width:1.2rem;
		height:.8rem;
	}.pagenav .next{
		margin-left:2.4rem;
		margin-right:0;
	}.pagenav .next:before{
		content:" ";
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin:auto;
		background:url(../img/arrow_view3.svg) no-repeat;
		-moz-transform:rotate(0deg); /* Для Firefox */
		-ms-transform:rotate(0deg); /* Для IE */
		-webkit-transform:rotate(0deg); /* Для Safari, Chrome, iOS */
		-o-transform:rotate(0deg); /* Для Opera */
		transform:rotate(0deg);
		width:1rem;
		height:.8rem;
	}.pagenav span{
		font-weight:500;
		font-size:1.4em;
		color:#7D7D7D;
		margin:0 .5rem;
		margin-top:1.5rem;
	}.pagenav a, .pagenav span{
		display:inline-block;
		vertical-align:middle;
	}.pagenav a{
		border:1px solid rgba(0,0,0,0.3);
		color:#7D7D7D !important;
		width:3rem;
		height:3rem;
		line-height:3rem;
		text-align:center;
		font-size:1.4em;
		font-weight:500;
		text-decoration:none;
		margin:0 .5rem;
		-moz-border-radius:.5rem; /* Firefox */
		-webkit-border-radius:.5rem; /* Safari, Chrome */
		-khtml-border-radius:.5rem; /* KHTML */
		border-radius:.5rem; /* CSS3 */
		position:relative;
		vertical-align:top;
	}.pagenav a:hover{
		color:#FF6600 !important;
		border:1px solid #FF6600;
	}.pagenav:after{
		content:" ";
		display:block;
		clear:both;
	}.right_bar.fixed{
		position:fixed;
		margin-right:1.5rem;
	}.right_bar.absolute{
		position:absolute;
		margin-right:1.5rem;
	}.right_bar h2{
		font-size:1.8em;
		font-weight:300;
		line-height:2.1rem;
	}.right_bar .forum_adver{
		margin:3rem -.5rem 0 -.5rem;
	}.right_bar .forum_adver .head_section .switch fieldset legend{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:400;
	}.right_bar .forum_adver .head_section .switch{
		margin-top:1.5rem;
	}.right_bar .forum_adver .head_section .switch .select{		
		margin-bottom:1rem;
	}.right_bar .forum_adver .head_section .switch .select.checkbox{
		float:right;
		-moz-transform:rotate(90deg); /* Для Firefox */
		-ms-transform:rotate(90deg); /* Для IE */
		-webkit-transform:rotate(90deg); /* Для Safari, Chrome, iOS */
		-o-transform:rotate(90deg); /* Для Opera */
		transform:rotate(90deg);
		margin-top:1.6rem;
		margin-bottom:auto;
		margin-right:-.9rem;
	}.right_bar .forum_adver .switch .ui-button{
		top:0;
	}.right_bar .forum_adver .head_section hr{
		margin:.5rem 0 1.5rem 0;
	}.right_bar .forum_adver .theme{
		float:none;
	}.right_bar .title a{
		font-size:1.4rem;
		line-height:1.6rem;
		font-weight:500;
		color:#000;
	}.boards.detail_page .wrap_board{
		display:none;
	}.boards.detail_page .wrap_board:nth-child(-n+3){
		display:block;
	}.detail_material.list_banner{
		margin-bottom:0;
	}.detail_material.list_banner .banner{
		margin-bottom:2rem;
	}
}

@media (min-width: 768px){
	.container{
		max-width:76.8rem;
	}h2{
		font-size:3.5rem;
		line-height:4.1rem;
	}header .logo{
		font-size:3.5em;
	}header .slogan{
		font-size:1.4em;
		letter-spacing:-.26px;
	}header .disc{
		font-size:1.4em;
	}.breadcrumbs_chain{
		display:block;
		background:#F2F2F2;
		font-size:1.2em;
		line-height:1.4rem;
		padding:.5rem 0;
		color:#7D7D7D;
	}.breadcrumbs_chain a{
		color:#7D7D7D;
	}.b_competition .head_section h2{
		display:inline-block;
	}.b_competition .head_section .all{
		float:right;
		margin-top:2rem;
	}.b_competition .head_section hr{
		margin:0 0 1rem 0;
	}.b_competition .competition_list .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.b_competition .wrap_competition{
		padding-left:1rem;
		padding-right:1rem;
		display:block;
	}.b_competition .competition{
		margin-bottom:1.5rem;
	}.b_competition .pict{
		height:29.6rem;
	}.b_publication .head_section .all{
		margin-top:2rem;
	}.b_publication.detail_page .head_section .all{
		float:right;
	}.b_publication .publication_list .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.b_publication .wrap_publication{
		padding-left:1rem;
		padding-right:1rem;
		display:none;
	}.b_publication .wrap_publication:nth-child(-n+5){
		display:block;
	}.b_publication .wrap_publication.wrap_pubclication_empty{
		display:block;
	}.b_publication .publication .title{
		margin-top:1.5rem;
	}.b_publication .publication .data{
		margin-bottom:1.5rem;
	}.b_publication .publication .data .section{
		margin-left:3.8rem;
	}.b_publication.detail_page .wrap_publication{
		display:none;
	}.b_publication.detail_page .wrap_publication:nth-child(-n+3){
		display:block;
	}.b_news .wrap_news:nth-child(-n+6){
		display:block;
	}.b_news .head_section .all{
		margin-top:2rem;
	}.b_news .head_section hr{
		margin:0 0 1.5rem 0;
	}.b_news .news_list{
		margin:0;
	}.b_news .news_list .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.b_news .wrap_news{
		padding-left:1rem;
		padding-right:1rem;
	}.b_news .news .title{
		height:7.6rem;
		margin-bottom:0;
	}.b_journal p{
		font-size:1.4em;
	}.b_db .list .row{
		margin-left:-1.25rem;
		margin-right:-1.25rem;
	}.b_db .wrap_db{
		padding-left:1rem;
		padding-right:1rem;
	}.b_db .db .title{
		margin-top:1rem;
		margin-bottom:1rem;
	}.b_db .db.lvl1{
		height:17.7rem;
	}.b_db .db.lvl2{
		height:15.3rem;
	}.b_db .db.lvl3{
		height:17rem;
	}.b_db .db .pict{
		float:none;
	}.b_db .db{
		padding:2.3rem 2rem 0 2rem;
	}.b_db .db .disc{
		margin-left:0;
	}.b_journal .journal.empty{
		display:none;
	}.boards{
		margin-bottom:2rem;
	}.boards .list_boards .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.boards .wrap_board{
		padding-left:1rem;
		padding-right:1rem;
	}.boards .board{
		margin-bottom:2rem;
	}.boards .board .pict{
		overflow:hidden;
		height:23.1rem;
		position:relative;
	}.companies .head_section h2{
		display:block;
	}.companies .head_section .all{
		float:none;
		margin-top:0;
	}.companies .list_videos .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.companies .wrap_company{
		padding-left:1rem;
		padding-right:1rem;
	}.b_video{
		margin-bottom:2.4rem;
		padding:4rem 0 2rem 0;
	}.b_video .head_section hr{
		margin:0 0 1rem 0;
	}.b_video .list_videos .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.b_video .wrap_video{
		padding-left:1rem;
		padding-right:1rem;
	}.b_video .video .pict{
		margin-bottom:1rem;
	}.b_video .video .pict img{
		height:17rem;
	}.forum_adver{
		margin-bottom:2rem;
	}.forum_adver .head_section .switch fieldset legend{
		font-size:2.5em;
		line-height:2.9rem;
	}.forum_adver .head_section .all{
		margin-top:1.2rem;
		float:right;
	}.forum_adver .head_section hr{
		margin:.5rem 0 2rem 0;
	}.forum_adver .head_section .switch{
		margin-top:3rem;
		width:100%;
	}.forum_adver .head_section .switch fieldset{
		float:left;
	}.forum_adver .head_section .switch:after{
		content:" ";
		display:block;
		clear:both;
	}.forum_adver .head_section .switch .select{
		width:auto;
		margin-right:2rem;
	}.forum_adver .head_section:after{
		content:" ";
		display:block;
		clear:both;
	}.forum_adver .switch label .label{
		width:17rem;
		top:0;
		left:6rem;
		font-size:2.5rem;
	}.forum_adver .switch .ui-button{
		top:.25rem;
	}.forum_adver .list_theme .row{
		margin-left:-4.85rem;
		margin-right:-4.85rem;
	}.forum_adver .wrap_theme{
		padding-left:4.85rem;
		padding-right:4.85rem;
	}.forum_adver .theme{
		float:right;
	}.b_ha_ha .head_section hr{
		margin:0 0 1.8rem 0;
	}.b_ha_ha .list_haha .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.b_ha_ha .wrap_ha_ha{
		padding-left:1rem;
		padding-right:1rem
	}.b_ha_ha .ha_ha .pict{
		margin-bottom:1rem;
		overflow: hidden;
		position:relative;
	}.b_ha_ha .ha_ha .pict img{
		height:23.4rem;
	}.calendar_events .head_section h2{
		display:inline-block;
	}.calendar_events .head_section .all{
		float:right;
	}.calendar_events .wrap_event{
		display:none;
	}.calendar_events .list_events .row{
		margin-left:-1rem;
		margin-right:-1rem;
	}.calendar_events .list_events .wrap_event{
		padding-left:1rem;
		padding-right:1rem;
	}.calendar_events .event{
		margin:0 0 2rem 0;
	}.calendar_events .wrap_event:nth-child(-n+6){
		display:block;
	}footer .bottom p{
		display:inline-block;
		margin-right:3rem;
		margin-bottom:3rem;
	}footer .bottom .developer{
		float:right;
		margin-right:0;
	}.detail_material h1{
		font-size:3.5em;
		line-height:4.1rem;
	}.breadcrumbs{
		padding:1.5rem 0;
	}.detail_material .favourite{
		float:right;
		margin-top:1.2rem;
	}.detail_material .foreword{
		font-size:3.5em;
		line-height:4.1rem;
	}.detail_material .discription h3{
		font-size:2.5em;
		line-height:2.9rem;
	}.detail_material .quote .mess:after{
		left:10rem;
	}.detail_material .quote .author{
		margin-left:22.5rem;
	}.detail_material .quote .mess{
		padding:3rem 3rem .5rem 3rem;
	}.detail_material .quote .mess:after{
		transform:scale(-1, 1);
	}.detail_material table.col_xs{
		display:none;
	}.detail_material table.col_md{
		display:table;
	}.detail_material .discription{
		margin-bottom:2rem;
	}.comment .title_comment_field{
		font-size:3.5em;
		line-height:4.1rem;
	}.comment .comment_field{
		width:48.4rem;
		height:8rem;
		margin-left:2rem;
	}.comment .add_comment{
		margin-bottom:1rem;
	}.comment .add_comment [type="submit"]{
		margin-top:4rem;
		padding:0 5.4rem;
	}.comment .add_comment .user{
		width:4.3rem;
		height:4.3rem;
		margin-top:0;
	}.comment .add_comment .user img{
		width:4.3rem;
		height:4.3rem;
	}.comment .ui-tabs .ui-tabs-nav li{
		margin-right:1rem;
		width:auto;
		margin-right:0;
		padding:0 .5rem;
	}.comment .ui-tabs .ui-tabs-nav li a{
		width:auto;
		padding:0.9rem 3rem;
	}.comment .comment_list .post .avatar{
		width:4.3rem;
		margin-top:1rem;
	}.comment .comment_list .post .head{
		margin-bottom:1rem;
	}.comment .comment_list .post .head:after{
		content:"";
		display:unset;
	}.comment .comment_list .post .head .name{
		margin-right:6.6rem;
		float:none;
		display:inline-block;
	}.comment .comment_list .post .head .date{
		float:none;
		display:inline-block;
	}.comment .comment_list .post .avatar img{
		width:4.3rem;
		height:4.3rem;
	}.comment .comment_list .post .wrap_message{
		margin-left:6.3rem;
	}.comment .comment_list .post .control .group_control{
		float:right;
	}.share a span{
		display:inline;
	}.boards.detail_page .wrap_board{
		display:none;
	}.boards.detail_page .wrap_board:nth-child(-n+6){
		display:block;
	}#popup_full_main_menu{
		padding-left:1.5rem;
		padding-right:1.5rem;
	}.popup .popupHd{
		font-size:3.5em;
		line-height:4.1rem;
		font-weight:500;
	}#popup_full_main_menu .auth,
	#popup_full_main_menu .search,
	#popup_full_main_menu .menu{
		display:none;
	}.popup .listHd{
		font-size:2.5em;
		line-height:2.9rem;
	}.popup .cover span{
		display:inline;
	}.popup .listPoints{
		-moz-column-count:4; /* Firefox */
		-webkit-column-count:4; /* Safari and Chrome */
		column-count:4;
	}
}
@media (min-width: 992px){
	.container{
		max-width:99.2rem;
	}.b_publication.detail_page .wrap_publication{
		display:none;
	}.b_publication.detail_page .wrap_publication:nth-child(-n+3){
		display:block;
	}
}
@media (min-width: 1200px){
	.container{
		max-width:120rem;
	}header{
		margin-bottom:2.7rem;
	}header .wrap_button{
		display:none;
	}header .data2{
		display:block;
	}header .menu{
		display:block;
	}header .top{
		display:block;
	}.container_data_1 .row{
		margin-left:-1.5rem;
		margin-right:-1.5rem;
	}.wrap_data_1{
		padding-right:1rem;
	}.wrap_competition_right{
		padding-left:1rem;
		position:relative;
	}.b_competition .competition{
		cursor:pointer;
	}.b_competition .btn_like{
		display:block;
	}.b_competition .competition:hover .dark{
		min-height:50%;
		margin-bottom:0;
	}.b_competition .competition:hover .pict .title a{
		color:#FF6600;
	}.b_competition .banner{
		display:none;
	}.b_competition.right{
		display:block;
	}.b_competition.right .banner{
		display:block;
		margin-bottom:1rem;
		height:24.7rem;
	}.b_competition .pict img{
		width:100%;
		height:100%;
	}.b_competition .pict .dark{
		min-height:50%;
		margin-bottom:-16.6%;
		-webkit-transition:all 0.2s ease-out;
		-moz-transition:all 0.2s ease-out;
		-o-transition:all 0.2s ease-out;
		transition:all 0.2s ease-out;
	}.b_competition .pict .title{
		margin-bottom:1rem;
	}.b_competition .wrap_banner p{
		font-size:1.8em;
		line-height:2.1rem;
		font-weight:500;
		margin-bottom:.5rem;
	}.b_publication{
		margin-bottom:0;
	}.b_publication .tags{
		margin-bottom:8.5rem;
	}.b_publication .pict img{
		height:20rem;
	}.b_publication .head_section hr{
		margin:0 0 1rem 0;
	}.b_publication .publication{
		margin-bottom:1.5rem;
	}.b_publication .publication .title{
		font-size:1.8em;
		line-height:2.1rem;
	}.b_publication .publication.empty{
		height:37.1rem;
	}.b_publication .publication_list{
		margin-bottom:3.5rem;
	}.publication_alone{
		display:block;
	}.publication_many .wrap_publication:nth-child(1){
		display:none !important;
	}.b_publication .wrap_publication:nth-child(-n+8){
		display:block;
	}.publication_many .b_publication .head_section{
		display:none;
	}.wrap_b_journal{
		display:none;
	}.b_news_lg{
		display:none;
	}.b_news_xl{
		display:block;
	}.b_news .wrap_news:nth-child(-n+6){
		display:block;
	}.b_news .news{
		margin-bottom:1.5rem;
	}.b_news .news .title{
		height:auto;
		margin-bottom:1rem;
	}.b_db{
		margin-bottom:6.9rem;
	}.b_db .db{
		min-height:14rem;
		height:14rem;
	}.b_db .db .pict{
		float:left;
	}.b_db .db .data{
		margin-left:5.5rem;
	}.b_db .db .title{
		margin-top:.5rem;
		margin-bottom:.5rem;
	}.b_db .db.lvl1{
		height:17rem;
		margin-bottom:2.2rem;
	}.b_db .db.lvl2{
		height:14rem;
	}.b_db .db.lvl3{
		height:33rem;
	}.boards .head_section h2{
		display:inline-block;
	}.boards .head_section .all{
		float:right;
		margin-top:2rem;
	}.b_video .head_section .all{
		margin-top:2rem;
	}.boards .head_section hr{
		margin:0 0 1rem 0;
	}.b_video .wrap_video:nth-child(-n+4){
		display:block;
	}.forum_adver{
		margin-bottom:4.6rem;
	}.calendar_events .head_section h2{
		display:block;
	}.calendar_events .head_section .all{
		float:none;
		margin-top:0;
	}.calendar_events .wrap_event{
		display:none !important;
	}.calendar_events .wrap_event:nth-child(-n+5){
		display:block !important;
	}.calendar_events .event{
		margin-bottom:3rem;
	}footer .bottom_menu{
		margin-left:5.3rem;
	}.soc_serv .soc_list{
		margin-left:-1rem;
		margin-right:0;
	}footer .bottom .developer{
		margin-right:4rem;
	}#popup_full_main_menu{
		height:100% !important;
		overflow:auto;
		padding-left:5rem;
		padding-right:5rem;
	}#popup_full_main_menu .head{
		padding:2rem 1.5rem 1.5rem 1.5rem;
	}#popup_full_main_menu .body{
		height:auto !important;
	}.popup.is_open:not(#popup_full_main_menu){
		width:57.9rem;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
	}.popup .head{
		padding:2.5rem 1.5rem 0 1.5rem;
	}.popup .close{
		position:absolute;
		right:-12rem;
		top:-10rem;
		background:url(../img/close_view2.svg) no-repeat center;
	}#popup_full_main_menu.popup .close{
		background:url(../img/close.svg) no-repeat;
		width:3rem;
		height:3rem;
		opacity:1;
		position:absolute;
		right:1.5rem;
		top:0;
		bottom:0;
		margin:auto;
	}.popup .body{
		height:auto !important;
	}.popup .socservs{
		padding:0;
		margin-top:1rem;
	}.popup .socservs li{
		display:block;
		margin:0 0 1rem 0;
	}.popup .socservs a{
		width:15.8rem;
	}.popup .socservs a > span{
		display:block;
	}.popup .socservs .fb:before{
		border-right:0;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
	}.popup .socservs .tw:before{
		border-right:0;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
	}.popup .socservs .vk:before{
		border-right:0;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
	}.popup .socservs .g_plus:before{
		border-right:0;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
	}.popup .socservs .ok:before{
		border-right:0;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
	}.popup .listPoints{
		-moz-column-count:6;
		-webkit-column-count:6;
		column-count:6;
		display:block;
	}.popup .cover{
		display:none;
	}.detail_material .list_banner{
		margin-right:-16.666667%;
	}#register_on_site .head, #enter_on_site .head{
		max-width:42rem;
		margin:0 auto 1.5rem auto;
		text-align:center;
	}#register_on_site .head > .popupHd, #enter_on_site .head > .popupHd{
		display:none;
	}#register_on_site .head .select, #enter_on_site .select{
		display:inline-block;
	}#register_on_site .body, #enter_on_site .body{
		max-width:42rem;
		margin:0 auto;
	}#modal_window .head, #modal_window .body{
		max-width:42rem;
		margin:0 auto;
	}#register_on_site form, #enter_on_site form{
		width:100%;
		padding:0;
	}#register_on_site form p, #enter_on_site form p{
		text-align:left;
		margin:1.5rem 0 1rem 0;
	}#register_on_site form input, #enter_on_site form input{
		text-align:left;
		width:20rem;
	}#register_on_site form .field, #enter_on_site form .field{
		margin-bottom:1.5rem;
		text-align:left;
	}#register_on_site form a, #enter_on_site form a{
		overflow:hidden;
		height:2.3rem;
	}#register_on_site [type="submit"], #enter_on_site [type="submit"]{
		margin: 0 0 2rem 0;
	}#register_on_site .b_first, #enter_on_site .b_first{
		float:left;
		width:22.8rem
	}#register_on_site .b_second, #enter_on_site .b_second{
		float:right;
		width:15.8rem;
	}#register_on_site .b_third, #enter_on_site .b_third{
		float:left;
		width:22.8rem;
		text-align:left;
	}#enter_on_site .b_third{
		margin-top:1rem;
	}#register_on_site .inner_form:after, #enter_on_site .inner_form:after{
		content:" ";
		display:block;
		clear:both;
	}#register_on_site .regulations, #enter_on_site .regulations{
		padding:0;
		text-align:left;
	}#register_on_site .switch, #enter_on_site .switch{
		display:inline-block;
	}#register_on_site .switch .ui-button, #enter_on_site .switch .ui-button{
		top:-.5rem;
		margin:0 1.5rem;
	}#register_on_site .select .popupHd.active, #enter_on_site .select .popupHd.active{
		color:#000000;
	}#register_on_site .select .popupHd, #enter_on_site .select .popupHd{
		display:inline-block;
		color:#828282;
	}.popup form input.error{
		border-bottom:1px solid #E04006 !important;
	}.comment .comment_field{
		width:88rem;
	}.comment .add_comment [type="submit"]{
		padding:0 5.9rem;
	}.comment .add_comment .user{
		width:8rem;
		height:8rem;
	}.comment .add_comment .user img{
		width:8rem;
		height:8rem;
	}.comment .comment_list .post .avatar{
		width:8rem;
		margin-top:0;
	}.comment .comment_list .post .avatar img{
		width:8rem;
		height:8rem;
	}.comment .comment_list .post .wrap_message{
		margin-left:10rem;
	}.forum_adver.detail_page{
		display:none;
	}.b_news.detail_page{
		display:none;
	}.wrap_competition_right.detail .right_bar{
		margin-top:0;
	}.wrap_competition_right.detail .right_bar .forum_adver{
		margin-top:0;
	}.detail_material.list_banner{
		margin-bottom:0;
	}.b_publication.detail_page .wrap_publication{
		display:none;
	}.b_publication.detail_page .wrap_publication:nth-child(-n+4){
		display:block;
	}.list_banner.no_fantasy{
		display:none;
	}.detail_material:not(.list_banner){
		padding-right:9.5rem;
	}
}