<?include 'header.html'?>
		<div class="detail_material">
			<div class="breadcrumbs_chain"><a href="">Главная страница</a> / <a href="">Публикации</a> / Желанная и долгожданная новинка...</div>
			<h1>Желанная и долгожданная новинка
			Mimaki UCJV300/150-160</h1>
			<div class="breadcrumbs">06 Март 2018 | источник: <a href="">НАРУЖКА. Издание для производителей рекламы №110</a> | тема: <a href="">Продукты и решения</a></div>
			<div class="group_btn_1">
				<div class="share">
					<ul>
						<li><a href="" class="vk"><span>Поделиться <span class="count">63</span></span></a>
						<li><a href="" class="fb"><span>Поделиться <span class="count">21</span></span></a>
						<li><a href="" class="tw"><span>Твитнуть</span></a>
						<li><a href="" class="g_plus"></a>
						<li><a href="" class="ok"></a>
						<li><a href="" class="xz"></a>
					</ul>
				</div>
				<a href="" class="favourite">Добавить в избранное</a>
			</div>
			<div class="detail_pict">
				<img src="/upload/0127db25798022c8467cf8752a2138c4.jpg" title="Желанная и долгожданная новинка
				Mimaki UCJV300/150-160" alt="Желанная и долгожданная новинка
				Mimaki UCJV300/150-160"/>
			</div>
			<div class="discription">
				<div class="foreword">
					Осенью 2017 года японская корпорация Мimaki представила долгожданную серию оборудования
				</div>
				<h3>Вау-технология «День/Ночь»</h3>
				<p>Используя уникальную технологию «День/ночь», Вы без длительной подготовки макетов сможете получить две картинки в одной: лицевая сторона изображения будет менять внешний вид в зависимости от источника освещения. Данный приём позволит легко и мгновенно создать великолепный эффект для вывески, что даст возможность увеличить количество потенциальных клиентов.</p>
				<img src="/upload/236bf5c7d655b6913aa23dae68457711.jpg"/>
				<p>В конце декабря первые станки были запущены в демонстрационном зале компании «РуссКом» впервые в России. Своими впечатлениями о желанном оборудовании Mimaki UCJV300/150 поделились сотрудники компании «РуссКом» - менеджер по продажам Иван Тесленко и технический специалист Артём Борзенков.</p>
				<div class="quote">
					<div class="mess">
						<p>С самых первых рабочих дней текущего года появилось большое количество желающих увидеть новинку своими глазами и убедиться в ее огромном потенциале. Мы провели многочисленные тесты и отработали интересные технологии под требования заказчика: «кроющий» белый цвет на прозрачных пленках, четырехслойная печать, печать на кожзаме и др.</p><p>Поскольку все наши клиенты - опытные «печатники», их интересовало «рабочее» качество. При этом ставилась задача изобразить сложный макет, например плашечные цвета или плавные градиенты. Оптимальным режимом оказалась печать с разрешением 600х600 в 16 проходов в обе стороны. На таком скромном режиме по качеству печати и плотности получаемой плашки машина превзошла сольвентный принтер, печатающий с гораздо более высоким разрешением (количеством точек на дюйм)</p>
					</div>
					<div class="author">
						<div class="row">
							<div class="col-3 wrap_photo">
								<div class="photo"><img src="/upload/914ba68aa4cc7788ea0059c8fdffec79.jpg"></div>
							</div>
							<div class="col-9 wrap_who">
								<div class="who">
									<p class="name">Иван Тесленко</p>
									<p class="position"><i>Менеджер по продажам "РусКом"</i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="seporate_1_right_bar" class="row list_banner detail_material">
	<div class="col-12 wrap_banner">
		<div class="banner empty"></div>
	</div>
	<div class="col-6 wrap_banner">
		<div class="banner empty"></div>
	</div>
	<div class="col-6 wrap_banner">
		<div class="banner empty"></div>
	</div>
</div>
<div class="row">
	<div class="col-12 col-xl-10 order-1">
		<div class="detail_material">
			<div class="discription">
				<h3>Снижение себестоимости</h3>
					<div class="row custom_output">
						<div class="col-12 col-md-9">
							<p>После близкого знакомства с принтером возник вопрос о стоимости владения оборудованием и себестоимости печати. И даже тут UCJV нашла чем удивить. Японцы максимально упростили конфигурацию
							чернильного тракта и, например, вместо всем известных демперов (фильтров, устанавливаемых непосредственно перед печатающей головкой) установили субтанки, которые гораздо реже подлежат замене, что экономит ваши средства. Расход чернил при печати также показал хорошие значения: на 1 кв. м расход краски варьируется от 2 до 13 мл!</p>
							<p>Артем: «<a href="">Mimaki UCJV300/150</a> – это прекрасное решение для производства этикеток, обоев, фресок, текстильных баннеров и световых коробов. СНПЧ MBIS3 упрощает жизнь оператора за счет использования бутылок с чернилами большой ёмкости до 1 л объема.</p>
						</div>
						<div class="col-12 col-md-3">
							<img src="/upload/236bf5c7d655b6913aa23dae68457711.jpg"/>
						</div>
					</div>
				<ul class="decimal">
					<li><span>Список</span></li>
					<li><span>Список</span></li>
					<li><span>Список</span></li>
					<li><span>Список</span></li>
				</ul>
				<h3>Сравнительная таблица характеристик УФ-плоттеров Mimaki серии UCJV</h3>
				<table class="col_xs">
					<tbody>
						<tr>
							<th>Mimaki UCJV150-160</th>
							<th>Mimaki UCJV300-160</th>
						</tr>
						<tr>
							<th colspan="2">Ширина печати</th>
						</tr>
						<tr>
							<td colspan="2">1610 мм</td>
						</tr>
						<tr>
							<th colspan="2">Разрешение печати</th>
						</tr>
						<tr>
							<td colspan="2">1200 x 1200 DPI</td>
						</tr>
						<tr>
							<th colspan="2">Скорость печати</th>
						</tr>
						<tr>
							<td>13,4 кв.м/час</td>
							<td>25,8 кв.м/час</td>
						</tr>
						<tr>
							<th colspan="2">Цветовая схема</th>
						</tr>
						<tr>
							<td>C M Y K</td>
							<td>C M Y K Lc Lm W</td>
						</tr>
					</tbody>
				</table>
				<table class="col_md">
					<tbody>
						<thead>
							<tr>
								<th>Характеристики</th>
								<th>Mimaki UCJV150-160</th>
								<th>Mimaki UCJV300-160</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Ширина печати</th>
								<td colspan="2">1610 мм</td>
							</tr>
							<tr>
								<th>Разрешение печати</th>
								<td colspan="2">1200 x 1200 DPI</td>
							</tr>
							<tr>
								<th>Скорость печати</th>
								<td>13,4 кв.м/час</td>
								<td>25,8 кв.м/час</td>
							</tr>
							<tr>
								<th>Цветовая схема</th>
								<td>C M Y K</td>
								<td>C M Y K Lc Lm W</td>
							</tr>
						</tbody>
					</tbody>
				</table>
				<p>Несомненный плюс UCJV300/150 - печатающая каретка, оснащённая двумя УФ-светодиодными блоками, по одному с каждой стороны , что позволяет обеспечивать двунаправленную печать и стабильную фиксацию чернил на любом материале, даже в быстрых режимах печати.</p>
				<p>Принтеры-каттеры Mimaki UCJV300/150 имеют интуитивно понятный интерфейс, обновленную Rip-программу на русском языке RasterLink6Plus и поддерживают функцию «Cut and Print» - "Резка и Печать",
				именно в таком порядке. Данная функция, в отличие от стандартной процедуры печати с последующей контурной резкой, позволяет сократить вероятность образования брака при резке тонких пленок. Резюмируя собственные ощущения по работе с данным станком, могу сказать, что в его конструкции реализованы новейшие технологии, позволяющие существенно упростить рабочий процесс, повысить качество выпускаемой продукции и получать оригинальный творческий результат. Судя по результатам тестов наших специалистов и положительным отзывам клиентов, можно отметить, что если стоит цель изготавливать качественный продукт, то UCJV300/150 – ваш идеальный выбор».</p>
				<ul class="circle">
					<li><span>Маркированный список</span></li>
					<li><span>Маркированный список</span></li>
					<li><span>Маркированный список</span></li>
					<li><span>Маркированный список</span></li>
				</ul>
				<p>Познакомиться поближе с очаровательной новинкой Mimaki UCJV300/150 можно в демозале компании «РуссКом».</p>
				<br><br>
				<p><b>Звоните: (495)785-58-12</b> и пишите: <a href="">info@plotters.ru.</a></p>
				<br><br>
				<p>Mimaki UCJV300/150 - новинка, которая не оставит Вас равнодушными!</p>
			</div>
		</div>
	</div>
	<!--<div class="col-12 col-xl-2 order-2 wrap_competition_right detail">
		<section class="b_competition right right_bar">
			<div class="body_section">
				<div class="list_banner">
					<div class="row">
						<div class="col-12">
							<section class="forum_adver">
								<div class="head_section">
									<h2>Форум по наружной рекламе</h2>
									<hr>
									<div class="switch">
										<fieldset>
											<div class="active select">
												<legend>Последние</legend>
											</div>
											<div class="select checkbox">
												<label for="hot_topics4"><span class="label"></span></label>
												<input type="checkbox" name="hot_topics" class="custom_customize_ui_view1" id="hot_topics4">
											</div>
											<div class="disabled select">
												<legend>Горячие</legend>
											</div>
										</fieldset>
									</div>
									<hr>
								</div>
								<div class="body_section">
									<div class="list_theme">
										<div class="row">
											<div class="col-12 wrap_theme">
												<div class="theme">
													<h4 class="title"><a href="">Цены на печать</a></h4>
													<a href="" class="author">Максимова Ольга</a>
												</div>
											</div>
											<div class="col-12 wrap_theme">
												<div class="theme">
													<h4 class="title"><a href="">Рейтинг рекламных фирм, кого выбрать</a></h4>
													<a href="" class="author">Максимова Ольга</a>
												</div>
											</div>
											<div class="col-12 wrap_theme">
												<div class="theme">
													<h4 class="title"><a href="">Конкурс ЗНАК, обсуждаем, что нового</a></h4>
													<a href="" class="author">Максимова Ольга</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>-->
	<div class="col-12 col-xl-12 order-3">
		<div id="seporate_2_right_bar" class="comment">
			<label for="comment_field" class="title_comment_field">Комментарии к материалу</label>
			<form action="" method="post" class="add_comment">
				<textarea class="comment_field" placeholder="Оставьте свой комментарий"></textarea>
				<div class="user"><img src="img/user.svg"/></div><button type="submit">Отправить</button>
			</form>
			<div class="comment_list" class="tabs">
				<ul>
					<li><a href="#tabs-new">Новые (4)</a></li>
					<li><a href="#tabs-best">Лучшие</a></li>
					<li><a href="#tabs-early">Ранние</a></li>
				</ul>
				<div id="tabs-new">
					<div class="post">
						<div class="avatar">
							<img src="img/user.svg"/>
						</div>
						<div class="wrap_message">
							<div class="head">
								<div class="name">Иван</div>
								<div class="date">4 часа назад</div>
							</div>
							<div class="message">
								С самых первых рабочих дней текущего года появилось большое количество желающих увидеть новинку своими глазами и убедиться в ее огромном потенциале. Мы провели многочисленные тесты и отработали интересные технологии под требования заказчика: «кроющий» белый цвет на прозрачных пленках, четырехслойная печать, печать на кожзаме и др
							</div>
							<div class="control">
								<a href="" class="reply">Ответить</a>
								<span class="group_control">
									<a href="" class="share_post"></a>
									<a href="" class="like"></a>
									<a href="" class="dislike"></a>
									<span class="count">0</span>
								</span>
							</div>
							<div class="post response">
								<div class="avatar">
									<img src="img/user.svg"/>
								</div>
								<div class="wrap_message">
									<div class="head">
										<div class="name">Андрей ответил Ивану</div>
										<div class="date">4 часа назад</div>
									</div>
									<div class="message">
										С самых первых рабочих дней текущего года появилось большое количество желающих увидеть новинку своими глазами и убедиться в ее огромном потенциале. Мы провели многочисленные тесты и отработали интересные технологии под требования заказчика: «кроющий» белый цвет на прозрачных пленках, четырехслойная печать, печать на кожзаме и др
									</div>
									<div class="control">
										<span class="group_control">
											<a href="" class="share_post"></a>
											<a href="" class="like"></a>
											<a href="" class="dislike"></a>
											<span class="count">0</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="post">
						<div class="avatar">
							<img src="img/user.svg"/>
						</div>
						<div class="wrap_message">
							<div class="head">
								<div class="name">Иван</div>
								<div class="date">4 часа назад</div>
							</div>
							<div class="message">
								С самых первых рабочих дней текущего года появилось большое количество желающих увидеть новинку своими глазами и убедиться в ее огромном потенциале. Мы провели многочисленные тесты и отработали интересные технологии под требования заказчика: «кроющий» белый цвет на прозрачных пленках, четырехслойная печать, печать на кожзаме и др
							</div>
							<div class="control">
								<a href="" class="reply">Ответить</a>
								<span class="group_control">
									<a href="" class="share_post"></a>
									<a href="" class="like"></a>
									<a href="" class="dislike"></a>
									<span class="count">0</span>
								</span>
							</div>
						</div>
					</div>
					<div class="post">
						<div class="avatar">
							<img src="img/user.svg"/>
						</div>
						<div class="wrap_message">
							<div class="head">
								<div class="name">Иван</div>
								<div class="date">4 часа назад</div>
							</div>
							<div class="message">
								С самых первых рабочих дней текущего года появилось большое количество желающих увидеть новинку своими глазами и убедиться в ее огромном потенциале. Мы провели многочисленные тесты и отработали интересные технологии под требования заказчика: «кроющий» белый цвет на прозрачных пленках, четырехслойная печать, печать на кожзаме и др
							</div>
							<div class="control">
								<a href="" class="reply">Ответить</a>
								<span class="group_control">
									<a href="" class="share_post"></a>
									<a href="" class="like"></a>
									<a href="" class="dislike"></a>
									<span class="count">0</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div id="tabs-best">
					<div class="post">
						<div class="avatar">
							<img src="img/user.svg"/>
						</div>
						<div class="wrap_message">
							<div class="head">
								<div class="name">Иван</div>
								<div class="date">4 часа назад</div>
							</div>
							<div class="message">
								С самых первых рабочих дней текущего года появилось большое количество желающих увидеть новинку своими глазами и убедиться в ее огромном потенциале. Мы провели многочисленные тесты и отработали интересные технологии под требования заказчика: «кроющий» белый цвет на прозрачных пленках, четырехслойная печать, печать на кожзаме и др
							</div>
							<div class="control">
								<a href="" class="reply">Ответить</a>
								<span class="group_control">
									<a href="" class="share_post"></a>
									<a href="" class="like"></a>
									<a href="" class="dislike"></a>
									<span class="count">0</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div id="tabs-early">
					<div class="post">
						<div class="avatar">
							<img src="img/user.svg"/>
						</div>
						<div class="wrap_message">
							<div class="head">
								<div class="name">Иван</div>
								<div class="date">4 часа назад</div>
							</div>
							<div class="message">
								С самых первых рабочих дней текущего года появилось большое количество желающих увидеть новинку своими глазами и убедиться в ее огромном потенциале. Мы провели многочисленные тесты и отработали интересные технологии под требования заказчика: «кроющий» белый цвет на прозрачных пленках, четырехслойная печать, печать на кожзаме и др
							</div>
							<div class="control">
								<a href="" class="reply">Ответить</a>
								<span class="group_control">
									<a href="" class="share_post"></a>
									<a href="" class="like"></a>
									<a href="" class="dislike"></a>
									<span class="count">0</span>
								</span>
							</div>
						</div>
					</div>
					<div class="post">
						<div class="avatar">
							<img src="img/user.svg"/>
						</div>
						<div class="wrap_message">
							<div class="head">
								<div class="name">Иван</div>
								<div class="date">4 часа назад</div>
							</div>
							<div class="message">
								С самых первых рабочих дней текущего года появилось большое количество желающих увидеть новинку своими глазами и убедиться в ее огромном потенциале. Мы провели многочисленные тесты и отработали интересные технологии под требования заказчика: «кроющий» белый цвет на прозрачных пленках, четырехслойная печать, печать на кожзаме и др
							</div>
							<div class="control">
								<a href="" class="reply">Ответить</a>
								<span class="group_control">
									<a href="" class="share_post"></a>
									<a href="" class="like"></a>
									<a href="" class="dislike"></a>
									<span class="count">0</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pagenav"><a href="" class="prev"></a><a href="">1</a><a href="">2</a><a href="">3</a><span>...</span><a href="">7</a><a href="" class="next"></a></div>
		<div class="breadcrumbs">06 Март 2018 | источник: <a href="">НАРУЖКА. Издание для производителей рекламы №110</a> | тема: <a href="">Продукты и решения</a></div>
		<div class="group_btn_1">
			<div class="share">
				<ul>
					<li><a href="" class="vk"><span>Поделиться <span class="count">63</span></span></a>
					<li><a href="" class="fb"><span>Поделиться <span class="count">21</span></span></a>
					<li><a href="" class="tw"><span>Твитнуть</span></a>
					<li><a href="" class="g_plus"></a>
					<li><a href="" class="ok"></a>
					<li><a href="" class="xz"></a>
				</ul>
			</div>
		</div>
		<div class="row list_banner">
			<div class="col-12 wrap_banner">
				<div class="banner empty"></div>
			</div>
		</div>
		<section class="b_news detail_page">
			<div class="head_section">
				<h2>Новости</h2>
				<a href="" class="all">Все новости</a>
				<hr>
			</div>
			<div class="body_section">
				<div class="row">
					<div class="col-12 col-md-8">
						<div class="news_list">
							<div class="row">
								<div class="col-12 col-md-6 col-xl-12 wrap_news">
									<div class="news">
										<h3 class="title"><a href="">Acuity Ultra: интерьерная печать в сверхкрупном формате</a></h3>
										<div class="date">11 мая 2018</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-xl-12 wrap_news">
									<div class="news">
										<h3 class="title"><a href="">Acuity Ultra: интерьерная печать в сверхкрупном формате</a></h3>
										<div class="date">11 мая 2018</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-xl-12 wrap_news">
									<div class="news">
										<h3 class="title"><a href="">Первый модуль ELF.</a></h3>
										<div class="date">11 мая 2018</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-xl-12 wrap_news">
									<div class="news">
										<h3 class="title"><a href="">Acuity Ultra: интерьерная печать в сверхкрупном формате</a></h3>
										<div class="date">11 мая 2018</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-xl-12 wrap_news">
									<div class="news">
										<h3 class="title"><a href="">Первый модуль ELF с технологией.</a></h3>
										<div class="date">11 мая 2018</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-xl-12 wrap_news">
									<div class="news">
										<h3 class="title"><a href="">Первый модуль ELF с технологией 170 Лм/Вт от компании WRS.</a></h3>
										<div class="date">11 мая 2018</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4 wrap_b_journal">
						<div class="b_journal">
							<p>Отраслевой журнал</p>
							<div class="journal">	
								<div class="pict">
									<a href=""><img src="upload/f9f375ad157ba0b9291e79f094dff284.png" title="" alt=""/></a>
								</div>
							</div>
							<div class="journal empty">	
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="row list_banner no_fantasy">
			<div class="col-12 wrap_banner">
				<div class="banner empty"></div>
			</div>
		</div>
		<section class="forum_adver detail_page">
			<div class="head_section">
				<h2>Форум по наружной рекламе</h2>
				<div class="switch">
					<fieldset>
						<div class="active select">
							<legend>Последние обсуждения</legend>
						</div>
						<div class="select checkbox">
							<label for="hot_topics3"><span class="label"></span></label>
							<input type="checkbox" name="hot_topics" class="custom_customize_ui_view1" id="hot_topics3">
						</div>
						<div class="disabled select">
							<legend>Горячие темы</legend>
						</div>
					</fieldset>
					<a href="" class="all">Все обуждения</a>
				</div>
				<hr>
			</div>
			<div class="body_section">
				<div class="list_theme">
					<div class="row">
						<div class="col-12 col-md-4 wrap_theme">
							<div class="theme">
								<h4 class="title"><a href="">Конкурс ЗНАК, обсуждаем, что нового</a></h4>
								<a href="" class="author">Максимова Ольга</a>
							</div>
						</div>
						<div class="col-12 col-md-4 wrap_theme">
							<div class="theme">
								<h4 class="title"><a href="">Рейтинг рекламных фирм, кого выбрать</a></h4>
								<a href="" class="author">Максимова Ольга</a>
							</div>
						</div>
						<div class="col-12 col-md-4 wrap_theme">
							<div class="theme">
								<h4 class="title"><a href="">Цены на печать</a></h4>
								<a href="" class="author">Максимова Ольга</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="b_db">
			<div class="head_section">
				<h2>База знаний</h2>
			</div>
			<div class="body_section">
				<div class="list">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-12 col-md-4 wrap_db">
									<div class="db lvl1">
										<div class="pict">
											<img src="img/db1.svg" title="" alt=""/>
										</div>
										<div class="data">
											<h3 class="title">Материаловедение</h3>
											<p class="disc">Энцеклопедическая информация обо всех типах материалов, применяемых в производстве рекламы</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-4 wrap_db">
									<div class="db lvl1">
										<div class="pict">
											<img src="img/db2.svg" title="" alt=""/>
										</div>
										<div class="data">
											<h3 class="title">Теория печати</h3>
											<p class="disc">Необходимая информация для тех, кто производит или заказывает цифровую широкоформатную печать</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-4 wrap_db">
									<div class="db lvl1">
										<div class="pict">
											<img src="img/db3.svg" title="" alt=""/>
										</div>
										<div class="data">
											<h3 class="title">Вопрос-ответ</h3>
											<p class="disc">Ответы на вопросы, которые можете задать и вы!</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 wrap_db">
									<div class="db lvl2">
										<div class="pict">
											<img src="img/db4.svg" title="" alt=""/>
										</div>
										<div class="data">
											<h3 class="title">Аббревеатура</h3>
											<p class="disc">Расшифровака практически всей абривеатуры, которая встречается в описание материалов для рекламы</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 wrap_db">
									<div class="db lvl2">
										<div class="pict">
											<img src="img/db5.svg" title="" alt=""/>
										</div>
										<div class="data">
											<h3 class="title">Словарь терминов</h3>
											<p class="disc">Терменология, используемая в рекламной индустрии от «А» до «Я», от «А» до «Z» </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="b_publication detail_page">
			<div class="head_section">
				<h2>Другие публикации раздела</h2>
				<a href="" class="all">Смотреть все публикации</a>
				<hr>
			</div>
			<div class="body_section">
				<div class="publication_list">
					<div class="row">
						<div class="col-12 col-md-4 col-xl-3 wrap_publication">
							<div class="publication">
								<div class="pict">
									<a href=""><img src="upload/b22cf616b951762b32ecc956bb67f8c3.png" title="" alt=""/></a>
								</div>
								<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
								<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
								<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 col-xl-3 wrap_publication">
							<div class="publication">
								<div class="pict">
									<a href=""><img src="upload/c5730e277d196f4c1f06bbe0bb358afb.png" title="" alt=""/></a>
								</div>
								<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
								<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
								<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 col-xl-3 wrap_publication">
							<div class="publication">
								<div class="pict">
									<a href=""><img src="upload/b22cf616b951762b32ecc956bb67f8c3.png" title="" alt=""/></a>
								</div>
								<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
								<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
								<div class="disc">В конце 2017 года производственная компания ReSeM одержала победу в конкурсе на выбор подрядчика по оформлению нового филиала сети медицинских клиник «Медси»
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 col-xl-3 wrap_publication">
							<div class="publication">
								<div class="pict">
									<a href=""><img src="upload/b22cf616b951762b32ecc956bb67f8c3.png" title="" alt=""/></a>
								</div>
								<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
								<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
								<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 col-xl-3 wrap_publication">
							<div class="publication">
								<div class="pict">
									<a href=""><img src="upload/b22cf616b951762b32ecc956bb67f8c3.png" title="" alt=""/></a>
								</div>
								<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
								<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
								<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<script>
$(function(){
	$( ".comment .comment_list" ).tabs();
});


$(function(){
    $(window).scroll(function() {
		
		//контейнер плавающих блоков
		var wrap_bn = $(".wrap_competition_right:eq(0)");
		var wrap_bn_2 = $(".wrap_competition_right:eq(1)");
		
		//плавающий блок
		var fixed_bn = wrap_bn.find(".right_bar");
		var fixed_bn_2 = wrap_bn_2.find(".right_bar");
		
		//высота плавающего блока
		var fixed_bn_h = fixed_bn.outerHeight(true);
		var fixed_bn_h_2 = fixed_bn_2.outerHeight(true);
		
		//высота прокрутки
		var fixed_bn_top = $(document).scrollTop();
		
		//блок до которого будет зафиксирован плавающий блок
		var target_bn = $('#seporate_1_right_bar');
		var target_bn_2 = $('#seporate_2_right_bar');
		
		//высота от начала документа до блока
        var target_bn_top = target_bn.offset().top;
		var target_bn_top_2 = target_bn_2.offset().top;
		console.log(target_bn_top - fixed_bn_h)
		//первый плавающий блок
        if (fixed_bn_top < (target_bn_top - fixed_bn_h))
		{
			fixed_bn.css({top: '0'}).addClass('fixed').removeClass('absolute');
		}
        else
		{
			fixed_bn.css({top: target_bn_top - fixed_bn_h + 'px'}).addClass('absolute').removeClass('fixed');
		}
		
		//второй плавающий блок
		if (fixed_bn_top < (wrap_bn.outerHeight(true) + target_bn.outerHeight(true)))
		{
			fixed_bn_2.css({top: '0'}).addClass('absolute').removeClass('fixed');
		}
		//раскоментируй если нужно зафиксировать второй сайдбар
		/*else if (fixed_bn_top > (wrap_bn.outerHeight(true) + target_bn.outerHeight(true)) &&
		fixed_bn_top < (wrap_bn.outerHeight(true) + target_bn.outerHeight(true) + wrap_bn_2.outerHeight(true) - fixed_bn_h_2))
		{
			fixed_bn_2.css({top: '20px'}).addClass('fixed').removeClass('absolute');
		}
		else
		{
			fixed_bn_2.css({top: wrap_bn_2.outerHeight(true) - fixed_bn_h_2 + 'px'}).addClass('absolute').removeClass('fixed');
		}*/
    });
});
</script>
<?include 'footer.html'?>