		<footer>
			<div class="container">
				<div class="row">
					<div class="col-6 col-md-3 col-xl-3 order-xl-2">
						<div class="bottom_menu">
							<ul>
								<li><a href="">О проекте</a></li>
								<li><a href="">Контакты</a></li>
								<li><a href="">Реклама на портале</a></li>
								<li><a href="javascript.void(0)" data-popup="popup_full_main_menu" class="js-popup">Карта сайта</a></li>
							</ul>
						</div>
					</div>
					<div class="col-6 col-md-9 col-xl-2 order-xl-3">
						<div class="soc_serv">
							<span class="txt_t">Мы в соц-сетях</span>
							<div class="soc_list">
								<a href="" class="fb"></a>
								<a href="" class="vk"></a>
								<a href="" class="tw"></a>
								<a href="" class="insta"></a>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-7 order-xl-1">
						<p class="about">«Сайнбизнес.ру» — портал, где собираются и систематизируются всевозможные знания, позволяющие работать более эффективно. Информация постоянно пополняется не только за счет работы объединенной редакции портала и журнала «НАРУЖКА», но и за счет самих пользователей, которые могут комментировать и писать статьи, участвовать в обсуждениях, задавать свои вопросы и отвечать 
						на вопросы других, публиковать новости и события и т.д.</p>
					</div>
					<div class="col-12 order-xl-4">
						<div class="bottom">
							<p><a href="">Пользовательское соглашение</a></p>
							<p><a href="">Правила пользования сайтом</a></p>
							<p class="developer"><span>Разработано в <a href="http://averdo.ru" target="_blank">Averdo</a></span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="popup main_menu" id="popup_main_menu">
				<div class="head">
					<a href="" class="close js-close-popup"></a>
					<div class="popupHd">Меню</div>
				</div>
				<div class="auth">
					<a href="" data-popup="register_on_site" class="register js-popup">Регистрация</a>
					<a href="" data-popup="enter_on_site" class="enter js-popup">Вход</a>
				</div>
				<div class="body">
					<form action="" method="post" class="search">
						<div class="field">
							<input type="text" placeholder="Поиск по сайту"/>
							<span class="ico_search state" data-type="submit"></span>
						</div>
					</form>
					<ul class="menu">
						<li><a href="">Публикации</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Компании</a></li>
						<li><a href="">Форум</a></li>
						<li><a href="">Конкурс ЗНАК</a></li>
					</ul>
					<ul class="menu view2">
						<li class="view2"><a href="">О проекте</a></li>
						<li class="view2"><a href="">Контакты</a></li>
						<li class="view2"><a href="">Реклама на портале</a></li>
					</ul>
				</div>
			</div>
			<div class="popup main_menu" id="popup_full_main_menu">
				<div class="head">
					<a href="" class="close js-close-popup"></a>
					<div class="popupHd">Меню</div>
				</div>
				<div class="auth">
					<a href="" data-popup="register_on_site" class="register js-popup">Регистрация</a>
					<a href="" data-popup="enter_on_site" class="enter js-popup">Вход</a>
				</div>
				<div class="body">
					<form action="" method="post" class="search">
						<div class="field">
							<input type="text" placeholder="Поиск по сайту"/>
							<i class="ico_search"></i>
						</div>
					</form>
					<ul class="menu">
						<li><a href="">Публикации</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Компании</a></li>
						<li><a href="">Форум</a></li>
						<li><a href="">Конкурс ЗНАК</a></li>
					</ul>
					<ul class="menu view2">
						<li class="view2"><a href="">О проекте</a></li>
						<li class="view2"><a href="">Контакты</a></li>
						<li class="view2"><a href="">Реклама на портале</a></li>
					</ul>
					<div class="wrap_list_points js-wrap_list_points">
						<div class="listTitle">
							<div class="listHd">Индустрия</div>
							<div class="cover js-cover"><span>Развернуть</span></div>
						</div>
						<ul class="listPoints js-list" data-hide="true">
							<li><a href="">Публикации</a></li>
							<li><a href="">Все темы</a></li>
							<li><a href="">События</span></li>
							<li><a href="">Бренды</a></li>
							<li><a href="">Персоны и компании</a></li>
							<li><a href="">Продукты и решения</a></li>
							<li><a href="">Теория</a></li>
							<li><a href="">Практика</a></li>
							<li><a href="">Развитие бизнеса</a></li>
							<li><a href="">Шпаргалка</a></li>
							<li><a href="">Бизнес и власть</a></li>
							<li><a href="">Индустриальное чтиво</a></li>
							<li><a href="">Исследования</a></li>
							<li><a href="">История наружной рекламы</a></li>
							<li><a href="">Кейсы</a></li>
							<li><a href="">SignFORUM</a></li>
							<li><a href="">Новости</a></li>
							<li><a href="">Все новости</a></li>
							<li><a href="">Новости индустрии</a></li>
							<li><a href="">Корпоративные новости</a></li>
							<li><a href="">Материалы</a></li>
							<li><a href="">Светотехника</a></li>
							<li><a href="">Оборудование</a></li>
							<li><a href="">Новости поставщиков</a></li>
							<li><a href="">Акции</a></li>
							<li><a href="">Видео</a></li>
							<li><a href="">Международный конкурс визуальной рекламы ЗНАК</a></li>
							<li><a href="">Календарь событий</a></li>
							<li><a href="">Вопросы и ответы</a></li>
							<li><a href="">Все темы</a></li>
							<li><a href="">Выбор материала</a></li>
							<li><a href="">Работа с материалами</a></li>
							<li><a href="">Материалы для печати</a></li>
							<li><a href="">Проблемы печати</a></li>
							<li><a href="">Светотехника</a></li>
							<li><a href="">Технологии</a></li>
							<li><a href="">Управление компанией</a></li>
							<li><a href="">Горячие предложения</a></li>
							<li><a href="">Все предложения</a></li>
							<li><a href="">Материалы для рекламы</a></li>
							<li><a href="">Оборудование для производства рекламы</a></li>
							<li><a href="">Материалы для печати</a></li>
							<li><a href="">Печатное оборудование</a></li>
							<li><a href="">Светотехника</a></li>
							<li><a href="">Разное</a></li>
							<li><a href="">Готовые рекламные конструкции</a></li>
							<li><a href="">Конкурс ЗНАК</a></li>
						</ul>
					</div>
					<div class="wrap_list_points js-wrap_list_points">
						<div class="listTitle">
							<div class="listHd">Где заказать</div>
							<div class="cover js-cover"><span>Развернуть</span></div>
						</div>
						<ul class="listPoints js-list" data-hide="true">
							<li><a href="">Все категории</a></li>
							<li><a href="">Материалы для рекламы</a></li>
							<li><a href="">Светотехника</a></li>
							<li><a href="">Оборудование для производства рекламы</a></li>
							<li><a href="">Готовые конструкции</a></li>
							<li><a href="">Производство рекламных конструкций</a></li>
							<li><a href="">Широкоформатная печать</a></li>
							<li><a href="">Материалы для рекламы</a></li>
							<li><a href="">Светотехника</a></li>
							<li><a href="">Оборудование для производства рекламы</a></li>
							<li><a href="">Готовые конструкции</a></li>
							<li><a href="">Производство рекламных конструкций</a></li>
							<li><a href="">Широкоформатная печать</a></li>
						</ul>
					</div>
					<div class="wrap_list_points js-wrap_list_points">
						<div class="listTitle">
							<div class="listHd">Копилка знаний</div>
							<div class="cover js-cover"><span>Развернуть</span></div>
						</div>
						<ul class="listPoints js-list" data-hide="true">
							<li><a href="">Словарь терминов</a></li>
							<li><a href="">Производство рекламных конструкций</a></li>
							<li><a href="">Широкоформатная печать</a></li>
							<li><a href="">Аббревиатура</a></li>
							<li><a href="">Теория печати</a></li>
							<li><a href="">Все материалы</a></li>
							<li><a href="">Чернила</a></li>
							<li><a href="">Печатные носители</a></li>
							<li><a href="">Ламинирование и монтаж</a></li>
							<li><a href="">Колориметрия</a></li>
							<li><a href="">Печатающие головки</a></li>
							<li><a href="">Технологии</a></li>
							<li><a href="">Программное обеспечение</a></li>
							<li><a href="">Исполнительная документация</a></li>
							<li><a href="">Материаловедение</a></li>
							<li><a href="">Все материалы</a></li>
							<li><a href="">Пластики</a></li>
							<li><a href="">Пленки</a></li>
							<li><a href="">Баннерные материалы</a></li>
							<li><a href="">Алюминиевый композит</a></li>
							<li><a href="">Химия</a></li>
							<li><a href="">Технологии материалов</a></li>
						</ul>
					</div>
					<div class="wrap_list_points js-wrap_list_points">
						<div class="listTitle">
							<div class="listHd">Каталог принтеров</div>
							<div class="cover js-cover"><span>Развернуть</span></div>
						</div>
						<ul class="listPoints js-list" data-hide="true">
							<li><a href="">Все принтеры</a></li>
							<li><a href="">Классические струйные принтеры</a></li>
							<li><a href="">Сублимационные принтеры</a></li>
							<li><a href="">Текстильные принтеры</a></li>
							<li><a href="">УФ-принтеры</a></li>
							<li><a href="">Принтеры-каттеры</a></li>
							<li><a href="">Термотрансферные принтеры</a></li>
							<li><a href="">Все принтеры</a></li>
							<li><a href="">Классические струйные принтеры</a></li>
							<li><a href="">Сублимационные принтеры</a></li>
							<li><a href="">Текстильные принтеры</a></li>
							<li><a href="">УФ-принтеры</a></li>
							<li><a href="">Принтеры-каттеры</a></li>
							<li><a href="">Термотрансферные принтеры</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="popup" id="enter_on_site">
				<div class="head">
					<div class="popupHd">Вход</div>
					<div class="select">
						<div class="popupHd select active">Вход</div>
						<div class="switch select checkbox">
							<fieldset>
								<legend></legend>
								<label for="hot_topics2" class="js-auth-popup"><span class="label"></span></label>
								<input type="checkbox" name="hot_topics" class="custom_customize_ui_view1 js-auth-popup" id="hot_topics2">
							</fieldset>
						</div>
						<div class="popupHd select">Регистрация</div>
					</div>
					<a href="" class="close js-close-popup"></a>
				</div>
				<div class="body">
					<form action="" method="post">
						<div class="inner_form">
							<div class="b_first">
								<p>Войти с использованием эл.почты</p>
								<div class="field">
									<input type="text" class="error" name="" value="" placeholder="Email">
								</div>
								<div class="field">
									<input type="text" name="" value="" placeholder="Пароль">
								</div>
							</div>
							<div class="b_second">
								<p>Или войти через соц-сети</p>
								<ul class="socservs">
									<li><a href="" class="fb"><span>Facebook</span></a></li>
									<li><a href="" class="tw"><span>Twitter</span></a></li>
									<li><a href="" class="vk"><span>Вконтакте</span></a></li>
									<li><a href="" class="g_plus"><span>Google</span></a></li>
									<li><a href="" class="ok"><span>Однокласники</span></a></li>
								</ul>
							</div>
							<div class="b_third">
								<button type="submit" name="">Войти</button>
								<a href="">Забыли пароль?</a>
							</div>
						</div>
					</form>
					<p class="regulations">Регистрируясь или осуществляя вход через сторонние ресурсы, вы подтверждаете свое согласие <a href="">с правилами пользования</a></p>
				</div>
			</div>
			<div class="popup" id="register_on_site">
				<div class="head">
					<div class="popupHd active">Регистрация</div>
					<div class="select">
						<div class="popupHd select">Вход</div>
						<div class="switch select checkbox">
							<fieldset>
								<legend></legend>
								<label for="hot_topics" class="js-auth-popup"><span class="label"></span></label>
								<input type="checkbox" name="hot_topics" class="custom_customize_ui_view1" id="hot_topics" checked>
							</fieldset>
						</div>
						<div class="popupHd select active">Регистрация</div>
					</div>
					<a href="" class="close js-close-popup"></a>
				</div>
				<div class="body">
					<form action="" method="post">
						<div class="inner_form">
							<div class="b_first">
								<p>Регистрация с использованием эл.почты</p>
								<div class="field">
									<input type="text" class="error" name="" value="" placeholder="Email">
								</div>
								<div class="field">
									<input type="text" name="" value="" placeholder="Пароль">
								</div>
							</div>
							<div class="b_second">
								<p>Или регистрация через соц-сети</p>
								<ul class="socservs">
									<li><a href="" class="fb"><span>Facebook</span></a></li>
									<li><a href="" class="tw"><span>Twitter</span></a></li>
									<li><a href="" class="vk"><span>Вконтакте</span></a></li>
									<li><a href="" class="g_plus"><span>Google</span></a></li>
									<li><a href="" class="ok"><span>Однокласники</span></a></li>
								</ul>
							</div>
							<div class="b_third">
								<button type="submit" name="">Зарегестрироваться</button>
								<a href="">Уже есть аккаунт?</a>
							</div>
						</div>
					</form>
					<p class="regulations">Регистрируясь или осуществляя вход через сторонние ресурсы, вы подтверждаете свое согласие <a href="">с правилами пользования</a></p>
				</div>
			</div>
			<div class="popup clone" data-auth="enter">
				<div class="body">
					<form action="" method="post">
						<div class="inner_form">
							<div class="b_first">
								<p>Войти с использованием эл.почты</p>
								<div class="field">
									<input type="text" class="error" name="" value="" placeholder="Email">
								</div>
								<div class="field">
									<input type="text" name="" value="" placeholder="Пароль">
								</div>
							</div>
							<div class="b_second">
								<p>Или войти через соц-сети</p>
								<ul class="socservs">
									<li><a href="" class="fb"><span>Facebook</span></a></li>
									<li><a href="" class="tw"><span>Twitter</span></a></li>
									<li><a href="" class="vk"><span>Вконтакте</span></a></li>
									<li><a href="" class="g_plus"><span>Google</span></a></li>
									<li><a href="" class="ok"><span>Однокласники</span></a></li>
								</ul>
							</div>
							<div class="b_third">
								<button type="submit" name="">Войти</button>
								<a href="">Забыли пароль?</a>
							</div>
						</div>
					</form>
					<p class="regulations">Регистрируясь или осуществляя вход через сторонние ресурсы, вы подтверждаете свое согласие <a href="">с правилами пользования</a></p>
				</div>
			</div>
			<div class="popup clone" data-auth="register">
				<div class="body">
					<form action="" method="post">
						<div class="inner_form">
							<div class="b_first">
								<p>Регистрация с использованием эл.почты</p>
								<div class="field">
									<input type="text" class="error" name="" value="" placeholder="Email">
								</div>
								<div class="field">
									<input type="text" name="" value="" placeholder="Пароль">
								</div>
							</div>
							<div class="b_second">
								<p>Или регистрация через соц-сети</p>
								<ul class="socservs">
									<li><a href="" class="fb"><span>Facebook</span></a></li>
									<li><a href="" class="tw"><span>Twitter</span></a></li>
									<li><a href="" class="vk"><span>Вконтакте</span></a></li>
									<li><a href="" class="g_plus"><span>Google</span></a></li>
									<li><a href="" class="ok"><span>Однокласники</span></a></li>
								</ul>
							</div>
							<div class="b_third">
								<button type="submit" name="">Зарегестрироваться</button>
								<a href="">Уже есть аккаунт?</a>
							</div>
						</div>
					</form>
					<p class="regulations">Регистрируясь или осуществляя вход через сторонние ресурсы, вы подтверждаете свое согласие <a href="">с правилами пользования</a></p>
				</div>
			</div>
			<div class="popup" id="modal_window">
				<div class="head">
					<a href="" class="close js-close-popup"></a>
				</div>
				<div class="body">
					<p>Простой текст</p>
				</div>
			</div>
		</footer>
	</body>
</html>