<?include 'header.html'?>
		<div class="top_banner">
						<div class="banner"></div>
					</div>
					<section class="b_competition">
						<div class="head_section">
							<h2>Конкурс визуальной рекламы ЗНАК</h2>
							<a href="" class="all">Все работы</a>
							<hr>
						</div>
						<div class="body_section">
							<div class="competition_list">
								<div class="row">
									<div class="col-12 col-md-4 wrap_competition">
										<div class="competition">
											<div class="pict">
												<img src="upload/69dc521d5a863b1c44ad0fa869661043.png" title="" alt=""/>
												<div class="dark">
													<h4 class="title"><a href="">Отель «Максим Горький»</a></h4>
													<div class="disc">Участник: Неон-арт </div>
													<div class="btn_like"><a href="" class="dislike"><span>0</span></a><a href="" class="like"><span>0</span></a></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_competition">
										<div class="competition">
											<div class="pict">
												<img src="upload/9960216ff27d37e4bf65412b4ae8d5e0.png" title="" alt=""/>
												<div class="dark">
													<h4 class="title"><a href="">Отель «Максим Горький»</a></h4>
													<div class="disc">Участник: Неон-арт </div>
													<div class="btn_like"><a href="" class="dislike"><span>0</span></a><a href="" class="like"><span>0</span></a></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_competition">
										<div class="competition">
											<div class="pict">
												<img src="upload/74863193bdf431ff8a400125f4852696.png" title="" alt=""/>
												<div class="dark">
													<h4 class="title"><a href="">Отель «Максим Горький»</a></h4>
													<div class="disc">Участник: Неон-арт </div>
													<div class="btn_like"><a href="" class="dislike"><span>0</span></a><a href="" class="like"><span>0</span></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="list_banner">
								<div class="row">
									<div class="col-6 wrap_banner">
										<div class="banner"></div>
									</div>
									<div class="col-6 wrap_banner">
										<div class="banner"></div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="container publication_alone">
						<div class="row">
							<div class="col-12 col-xl-6">
								<section class="b_publication">
									<div class="head_section">
										<h2>Публикации</h2>
										<a href="" class="all">Все публикации</a>
										<hr>
									</div>
									<div class="body_section">
										<div class="publication_list">
											<div class="row">
												<div class="col-12 col-md-12 wrap_publication">
													<div class="publication">
														<div class="pict">
															<a href=""><img src="upload/a5a469669e8d1e31efc9b8da442e93c9.png" title="" alt=""/></a>
														</div>
														<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
														<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
														<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
							<div class="col-12 col-xl-6 b_news_xl">
								<section class="b_news">
									<div class="head_section">
										<h2>Новости</h2>
										<a href="" class="all">Все новости</a>
										<hr>
									</div>
									<div class="body_section">
										<div class="news_list">
											<div class="row">
												<div class="col-12 col-md-6 col-xl-12 wrap_news">
													<div class="news">
														<h3 class="title"><a href="">Acuity Ultra: интерьерная печать в сверхкрупном формате</a></h3>
														<div class="date">11 мая 2018</div>
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-12 wrap_news">
													<div class="news">
														<h3 class="title"><a href="">Acuity Ultra: интерьерная печать в сверхкрупном формате</a></h3>
														<div class="date">11 мая 2018</div>
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-12 wrap_news">
													<div class="news">
														<h3 class="title"><a href="">Первый модуль ELF.</a></h3>
														<div class="date">11 мая 2018</div>
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-12 wrap_news">
													<div class="news">
														<h3 class="title"><a href="">Acuity Ultra: интерьерная печать в сверхкрупном формате</a></h3>
														<div class="date">11 мая 2018</div>
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-12 wrap_news">
													<div class="news">
														<h3 class="title"><a href="">Первый модуль ELF с технологией.</a></h3>
														<div class="date">11 мая 2018</div>
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-12 wrap_news">
													<div class="news">
														<h3 class="title"><a href="">Первый модуль ELF с технологией 170 Лм/Вт от компании WRS.</a></h3>
														<div class="date">11 мая 2018</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container publication_many">
			<section class="b_publication">
				<div class="head_section">
					<h2>Публикации</h2>
					<a href="" class="all">Все публикации</a>
					<hr>
				</div>
				<div class="body_section">
					<div class="publication_list">
						<div class="row">
							<div class="col-12 col-md-12 wrap_publication">
								<div class="publication">
									<div class="pict">
										<a href=""><img src="upload/a5a469669e8d1e31efc9b8da442e93c9.png" title="" alt=""/></a>
									</div>
									<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
									<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
									<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4 col-xl-3 wrap_publication">
								<div class="publication">
									<div class="pict">
										<a href=""><img src="upload/b22cf616b951762b32ecc956bb67f8c3.png" title="" alt=""/></a>
									</div>
									<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
									<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
									<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4 col-xl-3 wrap_publication">
								<div class="publication">
									<div class="pict">
										<a href=""><img src="upload/c5730e277d196f4c1f06bbe0bb358afb.png" title="" alt=""/></a>
									</div>
									<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
									<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
									<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4 col-xl-3 wrap_publication">
								<div class="publication">
									<div class="pict">
										<a href=""><img src="upload/b22cf616b951762b32ecc956bb67f8c3.png" title="" alt=""/></a>
									</div>
									<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
									<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
									<div class="disc">В конце 2017 года производственная компания ReSeM одержала победу в конкурсе на выбор подрядчика по оформлению нового филиала сети медицинских клиник «Медси»
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4 col-xl-3 wrap_publication">
								<div class="publication">
									<div class="pict">
										<a href=""><img src="upload/b22cf616b951762b32ecc956bb67f8c3.png" title="" alt=""/></a>
									</div>
									<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
									<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
									<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4 col-xl-3 wrap_publication">
								<div class="publication">
									<div class="pict">
										<a href=""><img src="upload/c5730e277d196f4c1f06bbe0bb358afb.png" title="" alt=""/></a>
									</div>
									<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
									<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
									<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4 col-xl-3 wrap_publication">
								<div class="publication">
									<div class="pict">
										<a href=""><img src="upload/ebd815efa0702be5b45f328efce89dfe.png" title="" alt=""/></a>
									</div>
									<h3 class="title"><a href="">Вывеска для магазина Эконика</a></h3>
									<div class="data"><span class="date">08 мая 2018</span><a href="" class="section">Кейсы</a></span></div>
									<div class="disc">В основу новой торговой концепции заложена идея места встречи подруг, любительниц моды и стиля. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги. Руководство обувной сети за счет ребрендинга планирует увеличить трафик на 10-15%, а также увеличить конверсию. Именно поэтому интерьер салонов получился по-настоящему теплым и уютным и напоминает больше не магазин, а стильную квартиру подруги.
									</div>
								</div>
							</div>
							<div class="col-12 col-md-8 col-xl-6 wrap_publication wrap_pubclication_empty">
								<div class="publication adver empty">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="container b_news_lg">
			<section class="b_news">
				<div class="head_section">
					<h2>Новости</h2>
					<a href="" class="all">Все новости</a>
					<hr>
				</div>
				<div class="body_section">
					<div class="row">
						<div class="col-12 col-md-8">
							<div class="news_list">
								<div class="row">
									<div class="col-12 col-md-6 col-xl-12 wrap_news">
										<div class="news">
											<h3 class="title"><a href="">Acuity Ultra: интерьерная печать в сверхкрупном формате</a></h3>
											<div class="date">11 мая 2018</div>
										</div>
									</div>
									<div class="col-12 col-md-6 col-xl-12 wrap_news">
										<div class="news">
											<h3 class="title"><a href="">Acuity Ultra: интерьерная печать в сверхкрупном формате</a></h3>
											<div class="date">11 мая 2018</div>
										</div>
									</div>
									<div class="col-12 col-md-6 col-xl-12 wrap_news">
										<div class="news">
											<h3 class="title"><a href="">Первый модуль ELF.</a></h3>
											<div class="date">11 мая 2018</div>
										</div>
									</div>
									<div class="col-12 col-md-6 col-xl-12 wrap_news">
										<div class="news">
											<h3 class="title"><a href="">Acuity Ultra: интерьерная печать в сверхкрупном формате</a></h3>
											<div class="date">11 мая 2018</div>
										</div>
									</div>
									<div class="col-12 col-md-6 col-xl-12 wrap_news">
										<div class="news">
											<h3 class="title"><a href="">Первый модуль ELF с технологией.</a></h3>
											<div class="date">11 мая 2018</div>
										</div>
									</div>
									<div class="col-12 col-md-6 col-xl-12 wrap_news">
										<div class="news">
											<h3 class="title"><a href="">Первый модуль ELF с технологией 170 Лм/Вт от компании WRS.</a></h3>
											<div class="date">11 мая 2018</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 wrap_b_journal">
							<div class="b_journal">
								<p>Отраслевой журнал</p>
								<div class="journal">	
									<div class="pict">
										<a href=""><img src="upload/f9f375ad157ba0b9291e79f094dff284.png" title="" alt=""/></a>
									</div>
								</div>
								<div class="journal adver empty">	
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="container">
			<div class="b_publication">
				<h4>Публикации по рубрикам</h4>
				<hr>
				<div class="tags">
					<a href="">События</a>
					<a href="">Бренды</a>
					<a href="">Персоны и компании</a>
					<a href="">Бизнес и власть</a>
					<a href="">Теория</a>
					<a href="">Продукты и решения</a>
					<a href="">Исследования</a>
					<a href="">Кейсы</a>
					<a href="">Развите бизнеса</a>
					<a href="">Шпаргалка</a>
					<a href="">Индустриальное чтиво</a>
					<a href="">История наружной рекламы</a>
				</div>
			</div>
		</div>
		<section class="b_db">
			<div class="container">
				<div class="head_section">
					<h2>База знаний</h2>
				</div>
				<div class="body_section">
					<div class="list">
						<div class="row">
							<div class="col-12 col-xl-9">
								<div class="row">
									<div class="col-12 col-md-4 wrap_db">
										<div class="db lvl1">
											<div class="pict">
												<img src="img/db1.svg" title="" alt=""/>
											</div>
											<div class="data">
												<h3 class="title">Материаловедение</h3>
												<p class="disc">Энцеклопедическая информация обо всех типах материалов, применяемых в производстве рекламы</p>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_db">
										<div class="db lvl1">
											<div class="pict">
												<img src="img/db2.svg" title="" alt=""/>
											</div>
											<div class="data">
												<h3 class="title">Теория печати</h3>
												<p class="disc">Необходимая информация для тех, кто производит или заказывает цифровую широкоформатную печать</p>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_db">
										<div class="db lvl1">
											<div class="pict">
												<img src="img/db3.svg" title="" alt=""/>
											</div>
											<div class="data">
												<h3 class="title">Вопрос-ответ</h3>
												<p class="disc">Ответы на вопросы, которые можете задать и вы!</p>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-6 wrap_db">
										<div class="db lvl2">
											<div class="pict">
												<img src="img/db4.svg" title="" alt=""/>
											</div>
											<div class="data">
												<h3 class="title">Аббревеатура</h3>
												<p class="disc">Расшифровака практически всей абривеатуры, которая встречается в описание материалов для рекламы</p>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-6 wrap_db">
										<div class="db lvl2">
											<div class="pict">
												<img src="img/db5.svg" title="" alt=""/>
											</div>
											<div class="data">
												<h3 class="title">Словарь терминов</h3>
												<p class="disc">Терменология, используемая в рекламной индустрии от «А» до «Я», от «А» до «Z» </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-xl-3">
								<div class="row">
									<div class="col-12 col-md-12 wrap_db">
										<div class="db lvl3 adver empty">							
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-9">
					<section class="boards detail_page">
						<div class="head_section">
							<h2>Каталог вывесок</h2>
							<a href="" class="all">Все вывески</a>
							<hr>
						</div>
						<div class="body_section">
							<div class="list_boards">
								<div class="row">
									<div class="col-12 col-md-4 wrap_board">
										<div class="board">
											<div class="pict">
												<img src="upload/185f5fdc1ffef70b3d768ecb7f41f78d.png" title="" alt=""/>
												<div class="dark">
													<a href="">Оформление филиала сети «МЕДСИ»</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_board">
										<div class="board">
											<div class="pict">
												<img src="upload/ebd815efa0702be5b45f328efce89dfe.png" title="" alt=""/>
												<div class="dark">
													<a href="">Оформление филиала сети «МЕДСИ»</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_board">
										<div class="board">
											<div class="pict">
												<img src="upload/b22cf616b951762b32ecc956bb67f8c3.png" title="" alt=""/>
												<div class="dark">
													<a href="">Оформление филиала сети «МЕДСИ»</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_board">
										<div class="board">
											<div class="pict">
												<img src="upload/c5730e277d196f4c1f06bbe0bb358afb.png" title="" alt=""/>
												<div class="dark">
													<a href="">Оформление филиала сети «МЕДСИ»</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_board">
										<div class="board">
											<div class="pict">
												<img src="upload/ebd815efa0702be5b45f328efce89dfe.png" title="" alt=""/>
												<div class="dark">
													<a href="">Оформление филиала сети «МЕДСИ»</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_board">
										<div class="board">
											<div class="pict">
												<img src="upload/185f5fdc1ffef70b3d768ecb7f41f78d.png" title="" alt=""/>
												<div class="dark">
													<a href="">Оформление филиала сети «МЕДСИ»</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tags">
								<a href="">Все работы</a>
								<a href="">POSM / POP</a>
								<a href="">Вывески, оформление</a>
								<a href="">Уникальные отдельно стоящие конструкции</a>
								<a href="">Широкоформатная печать</a>
								<a href="">Оформление транспорта</a>
								<a href="">Серийные конструкции</a>
								<a href="">Городское и праздничное оформление</a>
							</div>
						</div>
					</section>
				</div>
				<div class="col-12 col-xl-3">
					<section class="companies">
						<div class="head_section">
							<h2>Компании</h2>
							<a href="" class="all">Все компании</a>
						</div>
						<div class="body_section">
							<div class="list_companies">
								<div class="row">
									<div class="col-6 col-md-4 col-xl-12 wrap_company">
										<div class="company">
											<h4 class="title"><a href="">АКВЕДУК</a></h4>
											<a href="" class="city">Москва</a>
											<p class="disc">Все виды наружной рекламы, своя производственная...</p>
										</div>
									</div>
									<div class="col-6 col-md-4 col-xl-12 wrap_company">
										<div class="company">
											<h4 class="title"><a href="">Торгреклама</a></h4>
											<a href="" class="city">Барнаул</a>
											<p class="disc">Занимаемся поставкой тумб для уличной рекламы...</p>
										</div>
									</div>
									<div class="col-6 col-md-4 col-xl-12 wrap_company">
										<div class="company">
											<h4 class="title"><a href="">LEDGO</a></h4>
											<a href="" class="city">Москва</a>
											<p class="disc">Светодиодная продукция для экранов и уличной рекламы...</p>
										</div>
									</div>
									<div class="col-6 col-md-4 col-xl-12 wrap_company">
										<div class="company">
											<h4 class="title"><a href="">АльфаПринт</a></h4>
											<a href="" class="city">Казань</a>
											<p class="disc">Цифровая печать...</p>
										</div>
									</div>
									<div class="col-6 col-md-4 col-xl-12 wrap_company">
										<div class="company">
											<h4 class="title"><a href="">Ремэкс</a></h4>
											<a href="" class="city">Уфа</a>
											<p class="disc">Материалы для рекламы и оборудование на все случаи...</p>
										</div>
									</div>
									<div class="col-6 col-md-4 col-xl-12 wrap_company">
										<div class="company">
											<h4 class="title"><a href="">Неоновый знак</a></h4>
											<a href="" class="city">Сочи</a>
											<p class="disc">Винтажные вывески из неоновых трубок, супер-пупер...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<section class="b_video">
			<div class="container">
				<div class="head_section">
					<h2>Видео</h2>
					<a href="" class="all">Все видеоматериалы</a>
					<hr>
				</div>
				<div class="body_section">
					<div class="list_videos">
						<div class="row">
							<div class="col-12 col-md-4 col-xl-3 wrap_video">
								<div class="video">
									<div class="pict">
										<a href=""><img src="upload/cf6389a6d9d319a221b5800f3006db5b.png" title="" alt=""/></a>
									</div>
									<div class="section"><a href="">Оборудование для рекламы</a></div>
									<h3 class="title"><a href="">УФ-плоттер Mimaki новые возможности</a></h3>
								</div>
							</div>
							<div class="col-12 col-md-4 col-xl-3 wrap_video">
								<div class="video">
									<div class="pict">
										<a href=""><img src="upload/1e2265607dbc34a5e4b3e3b07433e0dd.png" title="" alt=""/></a>
									</div>
									<div class="section"><a href="">Оборудование для рекламы</a></div>
									<h3 class="title"><a href="">УФ-плоттер Mimaki новые возможности</a></h3>
								</div>
							</div>
							<div class="col-12 col-md-4 col-xl-3 wrap_video">
								<div class="video">
									<div class="pict">
										<a href=""><img src="upload/f4df585dfaf82979ae55b0d655716901.png" title="" alt=""/></a>
									</div>
									<div class="section"><a href="">Оборудование для рекламы</a></div>
									<h3 class="title"><a href="">УФ-плоттер Mimaki новые возможности</a></h3>
								</div>
							</div>
							<div class="col-12 col-md-4 col-xl-3 wrap_video">
								<div class="video">
									<div class="pict">
										<a href=""><img src="upload/4f01d5653c2facc5d4e65695c84e4327.png" title="" alt=""/></a>
									</div>
									<div class="section"><a href="">Оборудование для рекламы</a></div>
									<h3 class="title"><a href="">УФ-плоттер Mimaki новые возможности</a></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-9">
					<section class="forum_adver">
						<div class="head_section">
							<h2>Форум по наружной рекламе</h2>
							<div class="switch">
								<fieldset>
									<div class="active select">
										<legend>Последние обсуждения</legend>
									</div>
									<div class="select checkbox">
										<label for="hot_topics3"><span class="label"></span></label>
										<input type="checkbox" name="hot_topics" class="custom_customize_ui_view1" id="hot_topics3">
									</div>
									<div class="disabled select">
										<legend>Горячие темы</legend>
									</div>
								</fieldset>
								<a href="" class="all">Все обуждения</a>
							</div>
							<hr>
						</div>
						<div class="body_section">
							<div class="list_theme">
								<div class="row">
									<div class="col-12 col-md-4 wrap_theme">
										<div class="theme">
											<h4 class="title"><a href="">Конкурс ЗНАК, обсуждаем, что нового</a></h4>
											<a href="" class="author">Максимова Ольга</a>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_theme">
										<div class="theme">
											<h4 class="title"><a href="">Рейтинг рекламных фирм, кого выбрать</a></h4>
											<a href="" class="author">Максимова Ольга</a>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_theme">
										<div class="theme">
											<h4 class="title"><a href="">Цены на печать</a></h4>
											<a href="" class="author">Максимова Ольга</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="b_ha_ha">
						<div class="head_section">
							<h2>Курьезная наружка</h2>
							<hr>
						</div>
						<div class="body_section">
							<div class="list_haha">
								<div class="row">
									<div class="col-12 col-md-4 wrap_ha_ha">
										<div class="ha_ha">
											<div class="pict">
												<a href=""><img src="upload/5e1b91e8e86375f3cf67ca50585fa7ec.png" title="" alt=""/></a>
											</div>
											<h3 class="title"><a href="">Обитель зла</a></h3>
											<a href="" class="author">Максимова Ольга</a>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_ha_ha">
										<div class="ha_ha">
											<div class="pict">
												<a href=""><img src="upload/819cf2c329927d6d9e3a44a5d613e4d1.png" title="" alt=""/></a>
											</div>
											<h3 class="title"><a href="">Обитель зла</a></h3>
											<a href="" class="author">Максимова Ольга</a>
										</div>
									</div>
									<div class="col-12 col-md-4 wrap_ha_ha">
										<div class="ha_ha">
											<div class="pict">
												<a href=""><img src="upload/a3ab3d2f5408d74f79faf1712cef956b.png" title="" alt=""/></a>
											</div>
											<h3 class="title"><a href="">Обитель зла</a></h3>
											<a href="" class="author">Максимова Ольга</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-12 col-xl-3">
					<section class="calendar_events">
						<div class="head_section">
							<h2>Календарь событий</h2>
							<a href="" class="all">Все события</a>
						</div>
						<div class="body_section">
							<div class="list_events">
								<div class="row">
									<div class="col-12 col-md-4 col-xl-12 wrap_event">
										<div class="event">
											<div class="date">27 Март 2018  – 31 Март 2018</div>
											<h3 class="title"><a href="">SignTour, Германия - 2015</a></h3>
											<p class="disc">В середине мая участники очередного сайн-тура организованного «НАРУЖКА»</p>
										</div>
									</div>
									<div class="col-12 col-md-4  col-xl-12 wrap_event">
										<div class="event">
											<div class="date">27 Март 2018  – 31 Март 2018</div>
											<h3 class="title"><a href="">SignTour, Германия - 2015</a></h3>
											<p class="disc">В середине мая участники очередного сайн-тура организованного «НАРУЖКА»</p>
										</div>
									</div>
									<div class="col-12 col-md-4  col-xl-12 wrap_event">
										<div class="event">
											<div class="date">27 Март 2018  – 31 Март 2018</div>
											<h3 class="title"><a href="">SignTour, Германия - 2015</a></h3>
											<p class="disc">В середине мая участники очередного сайн-тура организованного «НАРУЖКА»</p>
										</div>
									</div>
									<div class="col-12 col-md-4  col-xl-12 wrap_event">
										<div class="event">
											<div class="date">27 Март 2018  – 31 Март 2018</div>
											<h3 class="title"><a href="">SignTour, Германия - 2015</a></h3>
											<p class="disc">В середине мая участники очередного сайн-тура организованного «НАРУЖКА»</p>
										</div>
									</div>
									<div class="col-12 col-md-4  col-xl-12 wrap_event">
										<div class="event">
											<div class="date">27 Март 2018  – 31 Март 2018</div>
											<h3 class="title"><a href="">SignTour, Германия - 2015</a></h3>
											<p class="disc">В середине мая участники очередного сайн-тура организованного «НАРУЖКА»</p>
										</div>
									</div>
									<div class="col-12 col-md-4  col-xl-12 wrap_event">
										<div class="event">
											<div class="date">27 Март 2018  – 31 Март 2018</div>
											<h3 class="title"><a href="">SignTour, Германия - 2015</a></h3>
											<p class="disc">В середине мая участники очередного сайн-тура организованного «НАРУЖКА»</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
<?include 'footer.html'?>